[2016-04-01 21:12] Horusiath opened #2 "Fix parser"
Current parser suffers from some issues, where most notable is being fragile on the newline/whitespaces in front of the query.

The issue is recreated by _parser should parse kitchen sink_ test.

Known issues of the current parser:
- Problems with parsing queries having new lines in them, especially at the beginning of the query.
- Problems with parsing complex inputs as an arguments.

[2016-04-01 21:16] Horusiath opened #3 "Continuous work on the type provider"
Current type provider is clearly proof of concept, it work only on queries, and only of flat fields structure.

Things to be done:
- Explore the possibility to generate namespace with full type definitions, not only the queries (prerequisite: #7). This would actually make more sense in our case.
- Using type provider to generate statically typed queries and mutations would be useful too, but the p

[2016-04-01 21:18] Horusiath opened #4 "Implement validation"
[Link](https://facebook.github.io/graphql/#sec-Validation) to the original specification. Some of the requirements:
- Queries and mutations share the same namespace. Therefore their names must be guaranteed to be unique.
- Anonymous queries/mutations should not be allowed in documents having more than one operation.
- Fragments defined on some types are not allowed to introduce names of fields, th

[2016-04-01 21:20] Horusiath opened #5 "Implement execution engine"
[Link](https://facebook.github.io/graphql/#sec-Execution) to the specification.

Before we do this, we should fix problem with assigning resolve functions of generic types to fields.

[2016-04-01 21:22] Horusiath opened #6 "Implement deprecation API"
[Link](https://facebook.github.io/graphql/#sec-Object-Field-deprecation)

In case if we use this inside type provider, it would be good assign ObsoleteAttribute to deprecated fields (check if it's possible).

[2016-04-02 06:28] Horusiath opened #7 "Allow parser to generate type definition from GraphQL type format"
Given the GraphQL type format definition, maybe it's good idea to allow parser to parse them into FSharp.Data.GraphQL compatible type definition schema. Later this could be used to generate full types by the type provider.

Example:

[code]

[2016-04-02 06:50] Horusiath opened #8 "Add CI support"
We should include CI builds/unit tests as part of the development process.

[2016-04-02 06:53] Horusiath opened #9 "Move ownership to fsprojects"
As we don't have personal interest of keeping the ownership for ourselves. We'd like to get some attention of F# community for this project, helping us with developing it. Therefore the idea is to move the repository ownership to [F# Community Project Incubation Space](https://github.com/fsprojects).

Other ideas:
- Create gitter channel for it.
- Create contribution guidelines. Initial requiremen

[2016-04-04 18:51] johnberzy-bazinga opened #10 "Generate documentation page"
We should leverage the FSharp.Formatting library to generate documentation.

[2016-04-28 13:58] #5 closed, assigned to nobody

[2016-04-29 05:58] Horusiath opened #19 "Query caching"
Consider using caching on a the repeatable queries used by the schema - since they can utilize things like variables, we could omit field collection step (when necessary fields are collected by applying query on the existing schema), and generate function responsible for execution step immediately. Perfectly we should be able to generate function responsible for both collecting data and execution

[2016-04-29 09:47] Horusiath opened #21 "Make default resolve working with methods returning Async"
After merging #20 to dev, default resolver builder will allow not only to access type properties, but also to call its methods. At the moment, weak point here is that it's not able to automatically capture context of returned `Async<_>` value.

The purpose of this task is to extend default resolve to correctly bind values returned as `Async<_>`.

[2016-04-29 09:53] Horusiath opened #22 "Remove exceptions thrown in execution engine"
Currently there are multiple places, where `GraphQLException`-like errors are thrown. I believe it's not necessary in most of these places, as we can collect possible errors in `ExecutionContext` object itself and return empty values (which we do most of the time anyway).

[2016-04-29 09:56] Horusiath commented on #3
For now Type Provider story is no more, as it didn't look as a feasible solution for the problem. Maybe it will be useful to return to that concept in the future. Closing this one for now.

[2016-04-29 09:56] #3 closed, assigned to nobody

[2016-04-29 10:00] Horusiath opened #23 "Prepare sample app"
Prepare sample web service, which could be used for reference. "Standard" example could be a Suave.IO app with [GraphiQL](http://graphql-swapi.parseapp.com/) frontend.

At the moment one can run sample Suave.IO web service through `/samples/graphiql/server.fsx` and ask it directly, using i.e:

which will produce following output:

[code]

What is missing here, is the frontend part which could make

[2016-04-29 10:31] Horusiath opened #24 "Apply validation rules"
Right now query and schema validation is very residual. There are a lot more validation rules specified in [official GraphQL spec](https://facebook.github.io/graphql/), which should be implemented. Additional task for this issue is to specify all necessary rules.

Some of the rules:
- Valid query must result with the tree graph, where every leaf satisfies `LeafDef` (so it's either a scalar or enum

[2016-05-02 08:33] Horusiath opened #25 "Add generic type parameter for TypeDefs"
The idea here is to associate GraphQL type defs with existing F# types to get strongly typed mappings and relations if possible.

Example: currently there is a possibility to define an object def and include set of fields with resolve functions refering to few different object types, because neither `ObjectDef` nor `FieldDef list` is bound to any concrete .NET type.

Original idea here (which I've

[2016-05-05 09:13] Horusiath opened #29 "Create benchmarks"
In order to introduce some optimizations to the existing solution, we need to start making some benchmarks. Further steps could include making perf tests with tools such as [NBench](https://github.com/petabridge/NBench).

What could we benchmark?:
- Parsing simple, complex and deeply nested queries
- The whole execution pipeline for simple, complex and deeply nested queries:
  - Using explicit res

[2016-05-10 12:34] #29 closed, assigned to nobody

[2016-05-10 12:37] #6 closed, assigned to nobody

[2016-05-10 12:57] Horusiath opened #32 "Tryout code quotations for execution phase"
The idea here is to make field execution phase faster through preparing the whole chain of executing all fields defined in schema, on schema creation ahead of time, instead building them each time, an execution phase is invoked.

This could be probably achieved by separating execution step. Moreover, this should provide overall speedup, as we would be able to generate those paths with knowledge ab

[2016-05-12 08:09] #25 closed, assigned to nobody

[2016-05-13 14:04] #7 closed, assigned to nobody

[2016-05-13 14:05] Horusiath commented on #4
Closing this one. More details can be found in #24

[2016-05-13 14:05] #4 closed, assigned to nobody

[2016-05-13 14:09] Horusiath opened #34 "Fix result order"
According to GraphQL specs, returned JSON should contain fields in the same order as they were specified in query. That is not true for the existing implementation, as result is basically serialized F# map, in which fields (represented as key-value pairs) are always sorted by alphabetic order.

[2016-05-13 14:13] Horusiath opened #35 "GraphQL client"
To give an ability to work with GraphQL not only on the server side, but also on the client and service-to-service, we should create a client for it. This is a very good place to introduce Type Provider, as we could generate the whole GraphQL API from simple introspection query.

Notes:
- We shouldn't use hard dependency on JSON serializer. GraphQL doesn't specify serialization format, which shoul

[2016-05-16 14:00] Horusiath commented on #34
Fixed by #36

[2016-05-16 14:00] #34 closed, assigned to nobody

[2016-05-18 07:28] Horusiath opened #38 "Relay.js interop"
In addition to existing GraphQL rules, interop with Relay library itself requires some additional definitions, necessary for handling things like object caching, paging and cache invalidation on mutations.

Links:
- [Relay project site](https://facebook.github.io/relay/)
- [Relay technical overview](https://www.youtube.com/watch?v=oPSuvaYmXBY)
- [Relay cursor connections specification](https://fac

[2016-05-25 12:15] Horusiath opened #41 "Use Hopac"
Since default F# Async is well known of its bad performance, one of the possible optimizations may be using [Hopac](https://github.com/Hopac/Hopac) library instead (which is already used in projects such as Suave or Logary).
- First change would be to replace `Async<_>` with `Job<_>`. As almost entire internals are hidden, we could convert them all to Hopac, but use `Async<_>` only in top-level fu

[2016-05-25 12:16] Horusiath commented on #23
Closed by #33 and #38

[2016-05-25 12:16] #23 closed, assigned to nobody

[2016-06-13 11:54] Horusiath commented on #35
Closing this now. Relay sample is working to some extend. Further work needs #2 to be fixed first.

[2016-06-13 11:56] Horusiath commented on #38
Closing this now. Relay sample is working, but further works requires parser to be fixed first (see: #2). Without it, passing complex input objects - which are have-to in case or Relay mutations - won't be possible.

[2016-06-13 11:56] #38 closed, assigned to nobody

[2016-06-21 08:58] #2 closed, assigned to nobody

[2016-06-21 13:44] Horusiath commented on #32
Closing this. We don't use code quotations, instead we introduced completion functions, which are generated in the "compilation phase".

[2016-06-21 13:44] #32 closed, assigned to nobody

[2016-06-21 13:46] Horusiath commented on #41
## Update

Hopac has been introduced, but as mentioned in #44 , there is a problem with thread locking inside Hopac itself. Need to investigate that further.

[2016-06-21 13:48] Horusiath commented on #22
Closing this for now. After some measurements in #44 it turned out, that using `Choice<obj,exn>` won't be feasible as it introduces constant object allocation overhead.

[2016-06-21 13:48] #22 closed, assigned to nobody

[2016-06-21 13:56] Horusiath opened #46 "Add support for complex input objects"
Right now we still have a rich set of tests that are failing because of lack of support for complex input arguments. This is a thing that needs to be solved in order to use any advanced mutations - like those required by Relay.js.

I guess, that after #2 we can finally proceed with this issue.

Links:
- [GraphQL specification of input objects](https://facebook.github.io/graphql/#sec-Input-Object-V

[2016-06-29 14:34] Horusiath opened #48 "Fix builds"
After merging #47 all tests should be passing. However I've seen, that our Travis CI is complaining about errors on Mono environment:

[code]

[2016-06-30 08:11] #46 closed, assigned to nobody

[2016-07-04 08:43] Horusiath opened #51 "Create nightly build channels"
It would be a good idea to provide some way of using the latest dev branch changes as nuget packages even before official releases. I.e. in Akka.NET, we used [myget](https://myget.org/) for nightly builds like that.

[2016-07-07 10:02] Horusiath opened #53 "Create single planning phase"
The major problem we have right now, is that query execution model is not aware of the whole context of execute operation. This is particularly irritating in scenarios such as i.e. constructing SQL queries based on incoming GraphQL query.

Right now going deep into nested relations will either require using lazy collections all the way down (like `IQueryable`, which is not the case for integration

[2016-07-19 13:59] Horusiath commented on #53
Closed by #56

[2016-07-19 13:59] #53 closed, assigned to nobody

[2016-07-20 09:10] Horusiath opened #60 "Things to do before release 0.1-beta"
This is a roughly list of TODOs, we should finish before publishing first NuGet package:
- [x] Merge @alfonsogarciacaro Client PR with TypeProvider: #54
- [ ] Write down an API documentation
- [ ] Create a gitter channel for newcomers
- [ ] Stabilize a CI: remove unnecessary parts (eg. 2 separate CIs ;) ) + make sure that publishing pipeline can be done from FAKE script.
- [ ](Optional) Create a w

[2016-07-20 09:20] alfonsogarciacaro commented on #60
I can write the script to generate the documentation from the XML comments as with other F# projects. Also, I can adapt the one we use in Fable to generate the website from MD docs. What do you think? Will the website be static (e.g. GH pages)? Or do we want to have some server-client interaction in it?

[2016-07-20 09:23] Horusiath commented on #60
If we're going to create page from XML comments, we need to work on these as well ;) .

I'd like to provide also some technical overview inside a documentation as well as API description - this would make an easier start for other contributors.

We could start with static site, and then move to something more dynamic if we'll need to.

[2016-07-20 12:45] Horusiath opened #61 "Create GraphQL to SQL compiler"
## Motivation

Right now we can execute any kind of query. However one of the common scenarios would be to create a reply by making SQL query to a database and then returning the computation result back to requester. Here we have a problem - since we are defining resolution of per-field basis, any nested calls will result in N+1 SELECT problems, eg. given a GraphQL query:

[code]

and schema defin

[2016-08-06 06:21] Horusiath opened #64 "Intoduce set operations on the ExecutionPlanInfo"
### Motivation

During discussions about using GraphQL we often mention a topic of applying things such as user permissions onto the user requests, to limit what user requested with what user can see (_this proposal can probably solve more issues in the future_). I was thinking about utilizing possibilities brought by having intermediate representation in form of `ExecutionPlanInfo`.
### Idea

We

[2016-08-08 09:24] Horusiath opened #65 "Introduce query complexity analysis"
Right now we don't have a way to protect the server from executing too complex queries, that could possibly be dangerous (i.e. could consume all memory or CPU power). For this we should introduce complexity analysis: this have already been done in other GraphQL implementations such as [Sangria](http://sangria-graphql.org/learn/#protection-against-malicious-queries).

The core idea is an ability to

[2016-08-08 10:57] Horusiath opened #66 "Change field execution function generation to use IL emitting"
Currently during so-called _compilation phase_ we're generating execution function for each field of each GraphQL object - we do it quite naively to be honest. The idea is to replace current function generation mechnism (which uses plain old function cominators + System.Reflection in few places) to function bodies constructed through System.Reflection.Emit.

[2016-08-11 13:04] Horusiath commented on #61
As mentioned on Slack, I've decided first to make GraphQL-to-LINQ interpreter as this is more flexible approach, and can be potentially used for more scenarios and solve problems such as selects over many-to-many joints for free. Downside of it is performance cost - another level of indirection that requires additional computations and may result in slower code.

Right now I've managed to refactor

[2016-09-05 09:10] Horusiath opened #78 "GraphQL-to-LINQ: change the way, fields are resolved"
See also: #61
### Motivation

Current approach to resolve which fields should take part in the LINQ query very simplistic and may not fit more complex scenarios. Right now we're trying to match fields by GraphQL FieldDef.Name and extract property getter from their resolver quotation.

This works well for examples like `Define.Field("name", String, fun _ x -> x.Name)` - where defined field name mat

[2016-09-10 17:23] OlegZee opened #79 "Defining recursive types"
I have a model containing mutually recursive references. E.g.
type Mailbox = { messages: Message array }
type Message = { author, date, subject, body, mailbox }

How could I define graphiql types matching this model?

[2016-09-10 19:00] Horusiath commented on #79
You can define mutually recursive models using delayed field initialization, i.e:

[code]

Simply use `let rec` + `and` to create definitions.

[2016-09-11 15:56] OlegZee commented on #79
It works perfectly, thank you!

I've getting a bad experience with recursive objects in F# (as it lacks lazyness) while fsharp.data.grapiql is fine here. Also I see now I should have looked at the samples.

[2016-09-11 15:56] #79 closed, assigned to nobody

[2016-09-16 18:30] OlegZee opened #82 "Execution fails with NRE when using generic field definition"
### Description

I'm defining model with a similar field in several types. E.g.

[code]

which is instantiated as

[code]

The issue is that only the first "widgets" field is functioning. All other instances causes exception in runtime.
### Repro steps

Attaching modifed server.fsx for relay-starter-kit sample project.
- Put this [server.fsx](https://gist.github.com/OlegZee/76181aef0802aabce60dc7d

[2016-09-16 20:37] Horusiath commented on #82
Could you paste a stack trace?

[2016-09-17 03:12] OlegZee commented on #82
I'm sorry for not including such info. It happened in executeField's `let res = info.Definition.Execute innerCtx value` line. `Execute` is null.
Trying to build project and reproduce it on OSX. Will likely provide stack traces soon.

Here's the stack trace:

[code]

[2016-09-20 09:03] Horusiath opened #83 "Respect schema guarantees in case of an errors"
Example - given following types:

[code]

, when we execute a following query:

[code]

We're getting an error message, but the `data.person.profile.name` value would be null, which is breaking the constraints of type system (as name is marked as NonNull String type).

In regards to GraphQL implementation, the correct behavior is to elevate null up in the reply tree, to the first nullable point al

[2016-09-21 20:15] #78 closed, assigned to Horusiath

[2016-09-21 20:15] #61 closed, assigned to Horusiath

[2016-09-21 20:18] Horusiath opened #85 "LINQ interpreter - support for Relay.js data types"
Problem that has not been verified yet is to support for RelayJS `Connection`, `Edge` and `Node` data types from LINQ interpreter. We need to unlock tests for that (they are made but skipped for now).

[2016-09-23 21:19] johnberzy-bazinga commented on #82
@OlegZee @Horusiath

Until we investigate further, below is a workaround for that issue.

[code]

[2016-09-25 03:04] OlegZee commented on #82
@johnberzy-bazinga Thank you! This workaround perfectly solves my troubles.

[2016-09-27 08:47] Horusiath opened #86 "Use computation expressions for defining schema"
We talked with @johnberzy-bazinga about idea of using cexprs for defining schemas, i.e instead of current:

[code]

have something like:

[code]

This topic is to discuss about that. Is it even possible? Is it feasible?

[2016-09-29 08:43] Horusiath opened #88 "Optimization of field resolver expression execution"
This is idea to make FSharp.Data.GraphQL faster and allocating less memory on field execution - consider we have following field definition:

[code]

At this point (compilation phase), we already know that the first function field (`FieldExecutionContext`) is not used. Therefore we actually don't need to create it, and we could pass a simple null instead. We know it won't be used anyway. This coul

[2016-09-30 08:52] #41 closed, assigned to nobody

[2016-09-30 08:52] #60 closed, assigned to nobody

[2016-09-30 08:52] #48 closed, assigned to nobody

[2016-09-30 08:53] Horusiath commented on #8
Closing this: CI support is available for some time.

[2016-09-30 08:53] #8 closed, assigned to nobody

[2016-09-30 08:54] Horusiath commented on #10
Documentation page is available at http://bazingatechnologies.github.io/FSharp.Data.GraphQL

[2016-09-30 08:54] #10 closed, assigned to nobody

[2016-09-30 08:56] Horusiath commented on #19
Closing this one: We can cache `ExecutionPlan` right now using `DocumentId` as an identifier.

[2016-09-30 08:56] #19 closed, assigned to nobody

[2016-09-30 08:57] Horusiath commented on #35
Closing this one: client library has been created. Further improvements will have their own issues.

[2016-09-30 08:57] #35 closed, assigned to nobody

[2016-09-30 09:07] Horusiath opened #91 "Client: investigate new ways of generating typesafe queries"
I'm curious if it's possible to make GraphQL client queries a little nicer to use. I.e. currently equivalent of this query:

[code]

would be:

[code]
## Option 1

Question is - could be make type provider, that would be able to produce computation expression on demand, based on incoming schema? Example:

[code]

Is it even possbile?
## Option 2

In many cases the queries generated by the client a

[2016-10-02 07:14] Horusiath opened #92 "[Experimental] Support for subscriptions / live queries"
This issue will be used to track the state of pub/sub and live queries support in GraphQL.

Currently subscriptions or live queries are not part of official GraphQL specification. However some of the server implementations already try to support it. What is important to remember here:
- GraphQL don't have hard dependency on the transport layer. We should keep it this way.
- It shouldn't be tied to

[2016-10-02 07:32] Horusiath opened #93 "[Experimental] Support for @defer directive"
This issue may be used to track state of `@defer` directive support in GraphQL. It's not yet part of the official spec.

Defer directive can be used to split returned data set into two parts - the one that needs to be returned immediately and other that can be returned after a while i.e. because that data doesn't need to be visible right away or it hides an expensive computation or I/O work undern

[2016-10-05 18:07] OlegZee commented on #82
Put my hands on this project again.

Now getting this NRE on Edge's cursor field:
![fs graphiql nre](https://cloud.githubusercontent.com/assets/513301/19125275/a53a2acc-8b60-11e6-9430-3cf51f6726cd.png)

Schema declaration is as follows and old trick didn't help :)

[code]

[2016-10-07 19:09] OlegZee commented on #86
This is the easiest part. Here's the builder:

[code]

I'd try to let partial field definitions such as:

[code]

[2016-10-14 12:09] Horusiath opened #95 "Modify scalar coerce functions"
Idea here is to change signature of the existing scalar coerce function to return `Choice<,>` insteaf of `option<>`. Reason for that is that we want to use custom scalars to apply first-level validation i.e:

[code]

As we don't want to simply return null (like JS implementation does), we want to explicitly inform about an invalid type.

[2016-10-15 15:20] #85 closed, assigned to nobody

[2016-10-15 15:22] Horusiath commented on #21
I don't think we need it any longer.

[2016-10-15 15:22] #21 closed, assigned to nobody

[2016-10-20 08:46] Horusiath commented on #86
I didn't saw that earlier. It looks nice indeed 👍

[2016-10-20 08:47] Horusiath opened #97 "Separate data structures for compilation phase"
Right now during the compilation phase we basically reuse type/field definitions made by the user - we basically attach a compiled execution function there. This is error prone and not particularly extensible.

The idea here is to made additional series of types: `CompiledObject`, `CompiledField` etc. that will wrap user-provided definitions, and describe some additional fields like:
- `Execute` u

[2016-10-28 09:41] Horusiath opened #99 "Extend property tracker for abstract types"
Currently property tracker has 2 cases:

- `Direct` (for tracker leaf nodes)
- `Compose` (for nodes with children).

The problem here may be how to deal with conditionally tracked properties (using GraphQL abstract types) - they are represented as tree of possible types and their field mappings in `ResolveAbstraction` execution plan part, but so far they don't have a correct equivalent in property

[2016-10-28 09:44] Horusiath opened #100 "Property tracker loosing track on GraphQL abstract defs"
Problem here is lose coupling between GraphQL interfaces and .net types - you can have i.e. GraphQL interface `Node(fields: [ id: Node -> ID ])` that maps directly to `System.Object` on .NET side - pattern often used for Relay. This messes up with property tracker joining phase as it will pass over, if parent type was simply an object. Therefore this part needs to correctly work with abstract defs

[2016-11-03 19:40] Horusiath commented on #9
Done.

[2016-11-03 19:40] #9 closed, assigned to nobody

[2017-03-02 18:58] Horusiath opened #102 "[WIP] Uniform way for working with resolver results"
In one of [my blog posts](http://bartoszsypytkowski.com/c-a-different-look-at-service-design/) I've shown a way - inspired by Twitter's Finagle - of applying additional logic to service calls. I think we could apply something similar here. It's a proposal and needs some more polishing.

Given a resolver function like:

[code]
we could define a filter for it:

[code]

What is a filter? It's a wrapp

[2017-03-18 00:46] Kurren123 opened #104 "Query batching?"
Hi

Is it possible to batch queries? So if I am returning 100 `people` with their `addresses`, I don't want to query the database 100 times but instead run a single query that has a `join`?

Thanks

[2017-03-18 09:35] Horusiath commented on #104
Hi @Kurren123 .

FSharp.Data.GraphQL comes with something called property tracker. It allows you to perform runtime query analysis in order to detect fields and properties that may be potentially used when resolving your GraphQL query. It may be used to prefetch all of the necessary data up-front in the top-level resolver. [Here](http://fsprojects.github.io/FSharp.Data.GraphQL/linq.html) is the ex

[2017-03-19 09:21] Kurren123 commented on #104
Perfect, thank you

[2017-04-06 05:21] Horusiath commented on #102
## Emitters

Another idea regarding emitters. Right now we produce result by creating an object graph and serializing it into response stream. What if we provide some abstraction in form of an API (emitter), that will allow us to push data directly into response stream (ignoring object graph construction)?

How this could work (it's not complete interface):

[code]

When executing a GraphQL statem

[2017-05-05 20:31] Horusiath opened #111 "Discussion about subscriptions API"
I'll write here my proposal on the possible subscriptions API. Ok, so what are the most essential operations to make pub/sub pattern working:

- Subscribe
- Unsubscribe
- Publish

### How to represent a stream of events

Now, how do we want to expose a continuous stream of events for a given subscription? Currently `AsyncExecute` returns only a map of result fields and values, parsable directly to

[2017-05-06 07:17] johnberzy-bazinga commented on #111
Hi @Horusiath

For the `Stream` case are you referring to the `@stream` directive? If so can't it also be used in conjunction with `@defer` and normal synchronous queries?

[2017-05-06 07:36] johnberzy-bazinga commented on #111
I suppose if you use `@defer` and `@stream` together they can use the same observable, but can stream be mixed with a normal response? If the answer is yes, It might be easier to just consolidate the two cases.

[2017-05-09 18:08] Horusiath commented on #111
@johnberzy-bazinga no, I'm not touching `@stream` directive here, only `@defer`. When I'm talking about streams I mean subscriptions, as IMHO they are negating the most of the `@stream` directive use cases.

[2017-05-11 11:31] Lenne231 commented on #86
Do we really need a custom way in F# to describe the schema? There is already the GraphQL schema language. What about writing the schema first and use a type provider to get a typed contract that we have to provide an implementation for.

Something like
http://graphql.org/graphql-js/
[code]
but statically typed with a type provider.

[2017-05-12 05:01] Horusiath commented on #86
@Lenne231 there are several issues with following graphql-js desing:

1. You're basically defining schema twice (first time as string, second as object with resolver methods). While this may be solution for javascript - because there's no way to annotate GraphQL type system there - it looks counterproductive in typed languages.
2. Since it's a string-based definition, you loose all of the power gi

[2017-05-16 18:43] TOTBWF opened #114 "Merging netcore and msbuild2003 build files"
### Description

With the release of Mono 5, netcore-style fsproj build files are supported by the packaged msbuild, meaning that all of the major build tools now use the same format. Should we consider merging the netcore and msbuild2003 build files into the unified format?

[2017-05-16 20:09] Horusiath commented on #114
Sure. It would be great :)

[2017-05-17 16:18] Kurren123 commented on #104
Hi @Horusiath. Thank you for your earlier reply. I'm still trying to wrap my head around this tracker stuff. For the LINQ example in the page that you gave me, the resolver for "people" is this:

`fun ctx () ->  peopleList.AsQueryable().Apply(ctx.ExecutionInfo, ctx.Variables) |> Seq.toList) ]`

However I'm not sure what the "Apply" method does. I tried googling in case it was a linq method but I c

[2017-05-18 05:35] Horusiath commented on #104
@Kurren123 [Apply](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Server/Linq.fs#L619) is an extension method. Be aware, that it's has some limitations (i.e. may lost track on abstract graphql types).

[2017-05-26 20:57] imetallica opened #118 "Upload latest version to Nuget"
Hi! I'm trying to use it with a new project that targets NetCore1.1, can you push the `0.0.3-beta` version to nuget?

Thanks in advance,
I.

[2017-05-29 06:20] Horusiath commented on #86
I think, we could actually simplify current schema declarations, but idea would radically change the API. Here it is: while we allowed users to define resolvers automatically, this is not default option. By default we need to provide type defs for every type we want to include in the schema. The idea here is to only be explicit about root object type, and leave the rest to be inferred as type depe

[2017-06-09 06:51] wklm commented on #118
btw is there any nuget package available?

[2017-06-09 06:56] Horusiath commented on #118
@wklm you need to enable `-pre` flag on your NuGet (or `prerelease` for Paket). See http://fsprojects.github.io/FSharp.Data.GraphQL/ for details.

[2017-06-30 17:51] TOTBWF opened #120 "[Discussion] Implement Per-Request Caching + Add an option for batching"
### Description

One of the biggest issues with GraphQL is that queries are very difficult to optimize, and may result in

1) Fetching the same data repeatedly

2) Inefficient fetches for lists

The query -> linq module provides some solutions for this, but it relies on all the data coming from the same source, and also requires a linq provider to be available for that data source. On top of that,

[2017-07-05 20:22] lxwbr opened #121 "Better error reporting for fragments"
@TOTBWF as discussed, this is being a reminder for implementing a better error reporting on e.g. spelling mistakes made the formulation of a fragment.

[2017-07-06 22:19] #114 closed, assigned to nobody

[2017-07-19 10:20] hubert-associates opened #123 "quick start help VS2017: Server and Shared Projects will not load in newest VS2017-15.2"
### Description

Getting this error on up-to-date VS2017.
https://developercommunity.visualstudio.com/content/problem/25053/cannot-load-net-core-fsproj-f-in-vs2017.html

F# projects load in general.

### Repro steps

Try to load in VS2017. What tools do you use?

1. Step A

2. Step B

### Expected behavior

Project loads and tests run.

### Actual behavior

Please provide a description of the actu

[2017-07-19 11:27] Horusiath commented on #123
Tbh. I have the same issue after latest merge. /cc @TOTBWF

[2017-07-19 16:13] TOTBWF commented on #123
Seems to be caused by Microsoft/visualfsharp#2316.
Their suggested fix is to:

- Download VS 2017 Update 3 Preview 3 (or a further preview if it's released and you're reading this)

- Download the latest CLI/SDK from here: https://github.com/dotnet/cli/tree/release/2.0.0#installers-and-binaries

[2017-07-19 18:45] Horusiath commented on #123
Why do we need both VS 2017 15.3 and .net core 2.0 in preview versions? They are highly unstable.

[2017-07-19 18:58] TOTBWF commented on #123
We don't need .netcore 2.0, that is just what the people at MS suggested (Not quite sure why). As for solutions, I'm not sure what the best path forward here is, as I was unaware that vs2017 didn't support newer MsBuild features.

[2017-07-19 20:10] hubert-associates commented on #123
I'd expect to continue using VStudio for F# as it is our central tool next to vscode, or what do you all use?

[2017-07-20 04:02] johnberzy-bazinga commented on #123
We're pretty much all on code, but we should make it work with VS. Are you wanting to work with the source, or are you just needing us to publish a nuget package with latest updates?

[2017-07-20 19:32] hubert-associates commented on #123
F# experience lacks to really contribute yet but debugging with the sources is often a big help.  What we (and others) certainly need to get started is a working example -- with packages is fine -- to build upon. Thanks for a great initiative for F#...

[2017-07-21 19:14] lxwbr opened #124 "Connection definitions should be optional by default"
@TOTBWF as a reminder.

Right now defining a connection produces something like this:

`communities(first: Int, after: String): CommunityConnection!`

but it supposed to be like this according to Relay (if you run Relay's compiler and execute pagination you would run into problems overwise):

`communities(first: Int, after: String): CommunityConnection`

Edit the creation of a connection definitio

[2017-07-21 19:30] Horusiath commented on #124
@zunder in this F# implementation nullability works in reverse - so everything is **non-nullable** by default, as nullability is well expressed via F# `Option` type, while contrary would be almost impossible using F# primitives.

If you need nullable connections you may mark them with `Nullable(ConnectionOf Type)`.

[2017-07-23 08:55] baio opened #126 "Type provider error"
### Description

Type provider error

The type provider 'FSharp.Data.GraphQL.Client.GraphQlProvider' reported an error: The server committed a protocol violation. Section=ResponseStatusLine

### Repro steps

1. install FSharp.Data.GraphQL with paket

2. code

[code]

3. Get error on line 3

### Expected behavior

Typeprovider is working

### Actual behavior

Error

[code]

### Related information

[2017-07-23 09:19] Horusiath commented on #126
@baio this may be a bug, but the error message sounds like problem is related to a schema send from the server. Could you provide the schema you're using for this case?

[2017-07-23 09:26] baio commented on #126
Hi, I'm not sure about schema what is it? Also I've checked on another gql provider, graph.cool enpoint
[code]
Have following error
[code]

This provider 100% works if I send there crude graphcool requests  with curl.

[2017-07-26 08:51] Horusiath commented on #126
@baio What GraphQL provider essentially does at the start is trying to retrieve a GraphQL schema from the server by sending [this introspection query](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Shared/Introspection.fs#L16) within a `query` query string parameter to provided endpoint. What it expects in response is a GraphQL-compatible JSON for that query, wh

[2017-09-07 23:20] TOTBWF opened #129 "Fragments shallowly merging causes dropped fields"
### Description

When two parallel fragments are merged, it can cause fields to be dropped. For example:
[code]

will only return the `id` field for friends.

The issue is in the planning stage, we merge fragment spreads by their top level fields, and ignore any differences lower down in the tree.

[2017-09-22 10:12] Kurren123 opened #131 "How do you build/run this project?"
Operating System: `Windows 10`
Dotnet version: `2.0.0`
Visual studio version: `Visual Studio 2017 15.3.5`
Microsoft Build Engine version: `15.3.409.57025`

If I do `build.cmd` paket restores successfully and the fsx file cleans successfully. But then when it tries to build it says:

`error MSB4019: The imported project "C:\Users\Kurren Nischal\Documents\Development stuff\F
       Sharp.Data.GraphQ

[2017-09-22 10:15] Kurren123 opened #132 "Allow a json file to be passed into the client type provider"
This will allow us to work offline. The Json file can contain the result of downloading the introspection query that the type provider executes when you pass in a URL. I am willing to submit a PR if I can just manage to open/build this project in Visual Studio/VS Code :) .

[2017-09-22 11:20] Horusiath commented on #131
This is more of the problem with Visual Studio and F# awareness in .NET ecosystem (similar thread: #123). I'm afraid that you may need to look for help in community forums (like F# slack channel) unless @TOTBWF have some procedure for working this problem out.

[2017-09-22 11:46] Kurren123 commented on #131
@Horusiath  thanks for your reply. I'm happy to use vs code or any other editor, I'm just wondering how others manage to do it.

[2017-09-22 22:02] TOTBWF commented on #131
Try running `msbuild /t:restore` before running. Also, what branch are you on?

[2017-09-27 23:10] zaaack opened #135 "Support persistgraphql ？"
https://github.com/apollographql/persistgraphql

Persistgraphql can reduce request size,  make server safer, and would this be hard to implement?

[2017-09-28 01:04] TOTBWF commented on #135
This is actually possible now, and requires no changes to the core library. There are functions in `Executor.fs` that support passing in pre-compiled queries in the form of `ExecutionPlans`. Implementing this specific approach would be as simple as placing some middleware in-between the route that accepts queries and the call to `executor.AsyncExecute`.

[2017-09-28 02:25] zaaack commented on #135
I'm not sure I get what you mean, what the persistgraphql do are extracting graphql strings in front end code (statically) and generating a json map with graphql strings and hash ids, the server side can only accept hash ids in the json map file, and get the real query from it.  But you inspired me that we can simply by using buidQuery method to generate the query, we can extract this in runtime l

[2017-09-28 03:10] TOTBWF commented on #135
I'm not very familiar with the inner workings of the client library, but it seems like this is best suited as an extension, and not a core part of the library. If you feel like there are hooks missing, we would be more than happy to see what would need to be done 🙂

[2017-09-28 03:20] zaaack commented on #135
@TOTBWF Totally agree. I'll look into further to see what's the best way to implement this.

[2017-09-28 09:21] zaaack commented on #131
@Kurren123  I'm using macos + ionide for vscode, try to working on the dev branch, got same issue in client project and work it around by adding these lines in `Otherwise` xml node, but then got another error. What's more, there are also many errors in test projects.
[code]
I don't think these could be easily solved by a newbie like me... I have some ideas to make the client type provider more ext

[2017-09-29 12:08] zaaack opened #136 "GraphQL.Client support dotnet core"
When I trying to use GraphQL.Client in Fable, [I got some errors](https://github.com/fable-compiler/Fable/issues/1171), looks currently client project doesn't support dotnet core(https://github.com/fsprojects/FSharp.Data.GraphQL/pull/103). Here is already a work around to make type provider working in dotnet core (https://github.com/Microsoft/visualfsharp/issues/3303), but I tried with a simple co

[2017-10-03 10:48] enricosada commented on #131
@zaaack i can repro doing `build Build` on a clean repo.
i asked paket team, the `Paket.Restore.targets` must be committed in the repository. that's by design (ref https://github.com/fsprojects/Paket/issues/2817 )

you can workaround now running `paket install` who create the target file. (`dotnet restore` or `paket restore` or boostrapping does do that)

Also, old fsproj cannot reference new fspr

[2017-10-03 14:14] enricosada commented on #131
@zaaack appeveyor seems disabled.
i openeded https://github.com/fsprojects/FSharp.Data.GraphQL/pull/137 with an empty commit to test that.

atm in windows the repo doesnt build running `build Build`

@Horusiath @TOTBWF can you reenable appveyor please? i'll fix it

[2017-10-11 23:33] johnberzy-bazinga commented on #131
@enricosada I've enabled appveyor and updated appveyor's config to use the VS 2017 image. Also, the badges in the Readme are now updated to reflect the CI changes.

Thanks,
John

[2017-11-14 13:11] Zeroto commented on #131
@enricosada Did you make any progress with making the build work? I'm having a lot of problems getting the build to work. e.g. `dotnet restore` gives errors like this: `error NU1100: Unable to resolve 'FSharp.NET.Sdk (>= 1.0.0)' for '.NETFramework,Version=v4.6/win7-x86'`. And without `dotnet restore` it doesn't build because of unrestored dependencies.

[2017-11-14 19:01] johnberzy-bazinga commented on #131
@Zeroto I've made some progress on the build. Do you want to try off of my fork?
 https://github.com/johnberzy-bazinga/FSharp.Data.GraphQL

Thanks,
John

[2017-11-16 14:40] xavierzwirtz commented on #118
Bumping this again. Looks like the version on nuget is quite old.

[2017-12-19 11:36] randy-r opened #138 "Implement .Net Standard 2.0?"
Will there be support for `.net standard 2.0` any time soon?

[2018-01-18 08:26] easysoft2k15 opened #139 "Subscriptions and websockets (QUESTION)"
Hi,
seems like Subscriptions are used in the following example:
https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/samples/graphiql-client/server.fs
I'd expect Subscriptions data being returned on a web socket but in the example I see that Suave server respond only when polled.
My expectation with subscription would be to:
1. subscribe to wanted data on client side
2. receive data asynchro

[2018-01-18 21:30] TOTBWF commented on #139
The basic structure would be as follows:

1. Define a `SubscriptionField` for your subscription.
2. `AsyncExecute` will return a `GQLResponse`, which is a DU with 3 cases: `Direct` for a normal response, `Deferred` for queries with the `@defer` directive, and `Stream` which is used for subscriptions
3. The `Stream` case contains an `IObservable`, which will publish whenever the subscription is fir

[2018-01-19 07:15] easysoft2k15 commented on #139
That's exactly what I was looking for!
Thank You

[2018-01-19 07:16] #139 closed, assigned to nobody

[2018-01-28 20:45] jamessdixon opened #140 "Visual Studio 2017 Fails to Load .Server and .Shared"
### Description

I branched and clones the project.  When I open it locally, I am getting this error
![image](https://user-images.githubusercontent.com/1394644/35486840-fe41b4ea-0441-11e8-9a47-7ed9cbe344d5.png)

### Repro steps

Please provide the steps required to reproduce the problem

1. Branch

2. Clone

3. Open in VS2017

### Expected behavior

All project load

### Actual behavior

.Server a

[2018-01-28 22:50] johnberzy-bazinga commented on #140
@jamessdixon Can you try reproducing this off of[ my branch](https://github.com/johnberzy-bazinga/FSharp.Data.GraphQL)? I've started fixing the build and moving to the newer SDK, but I'm working off of OSX and using VS Code, so I'm not sure if it works on Windows with VS.

Thanks

[2018-01-29 00:32] jamessdixon commented on #140
Same error
:-(

On Sun, Jan 28, 2018 at 5:50 PM, John Berzy <notifications@github.com>
wrote:

[2018-01-29 02:00] johnberzy-bazinga commented on #140
@jamessdixon Thanks for taking a look. I tested on parallels and was able to successfully load and build the project. You need to run build.cmd first so paket.bootstrapper.exe downloads Packet.Restore.Targets. Also, I believe you need VS 2017 15.5.5 installed.

Thanks,
John

[2018-01-29 09:29] johnberzy-bazinga commented on #140
@jamessdixon I have merged the changes from my fork in. Also, I included paket.restore.targets so you no longer need to run anything before opening the sln. Tested on a windows VM with VS 2017 15.5.5. Please let me know if you come across any issues.

Thanks

[2018-01-29 09:30] johnberzy-bazinga commented on #136
@zaaack I updated to the latest TP authoring SDK. Can you check if that fixes your problem.

Thanks

[2018-01-29 09:43] johnberzy-bazinga commented on #138
We currently support `net standard 1.6` on the server which is compatible with `netcoreapp 2.0`. Also, we just added support for `net standard 2.0` and the new TP Authoring SDK for the client library. We can add  `net standard 2.0` support to the server library fairly easily, but I'm not sure if there is any particular advantage to adding that. Please let me know if that addresses your question.

[2018-01-29 09:49] zaaack commented on #136
Got some error when build this projec in macOS.

[code]

[2018-01-29 09:53] johnberzy-bazinga commented on #136
Can you try `export FrameworkPathOverride=/usr/lib/mono/4.6.1-api/ && ./build.sh All` ?

Thanks

[2018-01-29 10:04] zaaack commented on #136
@johnberzy-bazinga Building is OK now!
While I didn't have the directory `/usr/lib/mono/4.6.1-api/`, the actually command that I'm running is:
[code]

[2018-01-29 10:08] johnberzy-bazinga commented on #136
oops, I sent you the linux variation. We should probably handle this in `build.sh`

[2018-01-29 12:45] jamessdixon commented on #140
That did it - thanks

On Mon, Jan 29, 2018 at 4:29 AM, John Berzy <notifications@github.com>
wrote:

[2018-01-29 12:45] jamessdixon commented on #140
That did it - thanks

[2018-01-29 12:45] #140 closed, assigned to nobody

[2018-01-30 20:17] johnberzy-bazinga commented on #136
@zaaack Did the update work for you? Are we ok to close this issue?

Thanks
John

[2018-01-31 05:43] zaaack commented on #136
Yes, thanks!

[2018-01-31 05:43] #136 closed, assigned to nobody

[2018-03-03 19:32] arthurrump commented on #118
Another bump. The latest NuGet download is almost 1.5 years old now, and it seems quite some changes have been made since then.

[2018-03-04 15:15] ShalokShalom opened #148 "GraphQL+"
[dgraph](dgraph.io) uses GraphQL+, which is an extended version of GraphQL:

I suggest to support it :smile:

[2018-03-15 18:26] ivelten commented on #132
I just made a pull request [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/149) for that. If you are interested on reviewing it, please do it.

[2018-03-23 18:08] johnberzy-bazinga commented on #138
@randy-r Closing as this is complete in #145

[2018-03-23 18:08] #138 closed, assigned to nobody

[2018-03-23 18:11] johnberzy-bazinga commented on #129
fixed by #133

[2018-03-23 18:11] #129 closed, assigned to nobody

[2018-04-09 06:22] zaaack opened #153 "The type 'String' is required here and is unavailable. You must add a reference to assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'."
### Description

When I try FSharp.Data.GraphQL.Client Type Provider in a dotnet core app, it throw an error:
[code]

### Repro steps
[code]
### Expected behavior

Working

### Actual behavior
[code]

### Known workarounds

Don't know

### Related information

* Operating system: macOS sierria
* Branch: 0.0.3-beta on nuget
* .NET Runtime, CoreCLR or Mono Version:    dotnet core: 2.1.104
* Performa

[2018-04-09 07:08] Horusiath commented on #153
@zaaack this is not a problem of the library but a cooperability of F# type providers with .NET Core itself

[2018-04-09 07:09] zaaack commented on #153
@Horusiath Do you see this kind of issues before?

[2018-04-09 07:32] zaaack commented on #153
I can run TPSDK demos on my computer.

[2018-04-09 14:53] ivelten commented on #132
The changes that you asked are being delayed, as there are incoming changes to the type provider system itself.

[2018-04-26 13:17] Kurren123 commented on #132
Out of curiosity do you have any info about the incoming changes?

[2018-04-26 16:43] ivelten commented on #132
We did not continue the changes yet. I had a pull request done for that as I told before, but we decided to wait for the incoming changes on the type provider system. I will take a look on this and see what we can do.

[2018-04-26 20:21] ivelten commented on #132
I'll bring back the pull request ASAP. Will notify here when done.

[2018-04-27 16:26] ivelten commented on #132
I reopened the Pull Request [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/156). Please give your thoughts about it.

[2018-05-06 18:29] Rajivhost opened #157 "Authorization Middleware"
Hi,
How on the Giraffe example, can I made authorization based on policies. I mean something like [this](https://github.com/graphql-dotnet/authorization) and this [Giraffe PR](https://github.com/giraffe-fsharp/Giraffe/pull/237)?

Best regards,
Rajiv.

[2018-05-08 14:37] OniVe opened #158 "Incorrect check for null when the function "buildResolverTree" is executed"
### Description

An error occurs when trying to get a non-existent value: `Object reference not set to an instance of an object.`

### Repro steps

1. Run the query for project "FSharp.Data.GraphQL.Samples.GiraffeServer":
[code]

### Expected behavior

Query result:
[code]

### Actual behavior

Query result:
[code]

[code]

### Known workarounds

https://github.com/fsprojects/FSharp.Data.GraphQL/b

[2018-05-08 18:42] Horusiath commented on #158
@OniVe how does your server-side resolver logic looks like?

[2018-05-09 02:08] OniVe commented on #158
@Horusiath I just tested the `FSharp.Data.GraphQL.Samples.GiraffeServer` project and got the error in this place:

https://github.com/fsprojects/FSharp.Data.GraphQL/blob/e38f08ec3c8cc1731adcf5e9222071c472e1736c/src/FSharp.Data.GraphQL.Samples.GiraffeServer/Schema.fs#L145

[2018-05-26 03:45] johnberzy-bazinga commented on #157
@Rajivhost The work @ivelten is doing in #155 should make the implementation of a middleware to handle authorization straightforward.

[2018-05-26 05:38] johnberzy-bazinga commented on #111
See #110

[2018-05-26 05:38] #111 closed, assigned to nobody

[2018-05-26 05:40] johnberzy-bazinga commented on #97
See #101

[2018-05-26 05:40] #97 closed, assigned to nobody

[2018-05-26 05:45] johnberzy-bazinga commented on #118
@arthurrump @imetallica @xavierzwirtz The latest version 0.0.3 beta is up on nuget with netstandard support.

[0.0.3-beta](https://www.nuget.org/packages/FSharp.Data.GraphQL.Server/0.0.3-beta
)

Thanks,
John

[2018-05-26 05:45] #118 closed, assigned to nobody

[2018-05-26 05:46] johnberzy-bazinga commented on #93
See #117

[2018-05-26 05:46] #93 closed, assigned to nobody

[2018-06-06 19:42] ivelten commented on #158
I believe that's a good fix for it. `toOption` is used only on fieldResolvers, so it would work adding that matching there. What do you think @Horusiath and @johnberzy-bazinga?

[2018-06-15 18:16] Rajivhost opened #164 "File Upload"
Hi,
Any tips on how to handle the file upload?

[2018-06-22 17:36] ivelten opened #165 "Live Directive"
At the moment, we don't have support for [live directive](https://dev-blog.apollodata.com/new-features-in-graphql-batch-defer-stream-live-and-subscribe-7585d0c28b07).

There are many possible implementations for this, with two of them being initially suggested by the team:

**1. Add the possibility of defining live field definitions.**
The idea for this is to let the user define which fields can b

[2018-06-26 13:22] Zeroto opened #167 "Optional input arguments with defaultValues are not creating a correct schema in server"
### Description

When creating an optional input argument the schema it generates is incorrect.
e.g. when having `Define.Input("test", Boolean, defaultValue = true, description = "test")` the output schema marks the field as non-nullable. But when you make it nullable `Define.Input("test", Nullable Boolean, defaultValue = Some true, description = "test"` then the schema puts `Some(True)` as the de

[2018-06-29 17:47] Horusiath commented on #165
Is it possible to generalize cases of deferred and live queries into a single abstraction? It's easy to multiply interfaces, but I'm trying to find out the case for making it a single composable contract.

Btw. are live queries part of the GraphQL standard by now?

[2018-07-02 14:10] ivelten commented on #165
@Horusiath, I'm not sure if that's what you mean, but, actually, `defer`, `stream `and `live `queries are being returned into the `Deferred` case of `GQLResponse`. We thought that it could be returned there, since it works in the exact same way for the client (it only needs to subscribe on the values). There's no way to know, only in the response, which kind of result is being returned at the mome

[2018-07-02 22:36] ivelten commented on #167
This makes sense to me. I made a pull request for that [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/168). @Horusiath, what do you think about it?

[2018-07-04 00:13] ivelten commented on #164
I don't think our library exposes any interface to help with file upload operations, so I think that we could, maybe, implement some common adopted specification to handle file uploads in the future. This one seems promising to me:

[GraphQL Multipart Request Spec](https://github.com/jaydenseric/graphql-multipart-request-spec)
[How to manage file uploads in GraphQL mutations using Apollo/Graphene]

[2018-07-06 13:10] Rajivhost commented on #164
Ok, I'm going to try provide a PR based on [this implementation](https://github.com/jaydenseric/apollo-upload-server).

[2018-07-16 16:27] thitemple opened #170 "Issue with Newtonsoft.Json dependency"
### Description

I'm trying to use this library and I'm having the following issue:

The paket.lock file says I have version `Newtonsoft.Json (11.0.2)` installed. I'm using the latest `Fable.Compiler (1.3.17)` which has a dependency on version 11.0.1 or later of Newtonsoft.

### Repro steps

I added a dependency to this library using Paket in an existing project using the latest version of the Fab

[2018-07-16 18:28] Horusiath commented on #170
Tbh. I think, we could drop the json serializers all along. In essence when we construct a GraphQL response, we already produce a full JSON tree representation, that could be encoded as:

[code]

You don't need an entire JSON.NET to serialize such structure. A simple function can do that, see: https://github.com/Horusiath/Grafs/blob/8cf29fd50dc11ff21bc72c18d4794c009825745d/src/Grafs/Execution.fs#L

[2018-07-16 22:36] ivelten commented on #170
I agree. We could work at this change ASAP, as this dependency can lead to many issues like that on the provider.

[2018-07-17 20:08] thitemple commented on #170
In the meantime do you have an idea of a workaround? Or do you want to point me in the direction on how to fix it? I could submit a PR

[2018-08-08 18:50] ivelten commented on #170
I think I need to discuss the changes a bit better. In the meantime, we could perhaps approve this [Pull Request](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/171), which updates Newtonsoft.Json dependencies to their last versions?

[2018-08-13 19:28] ivelten commented on #164
@Rajivhost how is it going? I can give help with the implementation if you want to.

[2018-08-13 21:48] TOTBWF commented on #164
I remember writing this a few months ago. It was before the middleware system came into place, but I'm sure adapting it wouldn't be too difficult.

[2018-08-14 08:34] Rajivhost commented on #164
Hi @ivelten, yes some help is welcome.

[2018-08-14 08:35] Rajivhost commented on #164
@TOTBWF can we have a view of what you made?

[2018-08-15 20:44] TOTBWF commented on #164
Sadly, that code was commercial, so no :frowning_face:.

[2018-08-20 17:24] Namek commented on #157
So I'd like to authorize user using mutation such as:

[code]

defined in F# like this:

[code]

### Goal:
Based on this I want to create a token and put it into a cookie which happens to be a layer above GraphQL - it's HTTP (I use [Suave](https://suave.io/)).

### Question
How can I return some calculation result to a layer above my `signIn` field implementation?

I don't see how middlewares woul

[2018-08-23 09:57] johnberzy-bazinga commented on #157
@Namek Middleware might not be appropriate for your scenario. I think it's technically possible since the result of `Executor.AsyncExecute` does return a metadata dictionary.  A possible solution might be to thread a custom root value through the computation that contains the functionality required to sign in. e.g.

[code]

[2018-09-05 00:03] Namek commented on #157
Alright, thanks. I managed to do it using [F# Reference Cells](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/reference-cells).

My root type (the context) is:
[code]

where `Session` is defined as:

[code]

so I can do value rewrite as if `Session` was reference-based C# object:

[code]

For completeness:

[code]

The `session` can be passed through `data` argument when executi

[2018-09-08 18:16] johnberzy-bazinga commented on #92
Implemented in #55 and #110

[2018-09-08 18:16] #92 closed, assigned to nobody

[2018-09-24 23:56] #167 closed, assigned to nobody

[2018-10-07 16:19] bbhoss commented on #153
Is there any way to fix this? Any idea why this library not work on .NET Core? FSharp.Data is working well.

_edited for clarity in tone_

[2018-10-07 21:22] bbhoss commented on #170
It appears that this has popped back up, maybe a new version has been released and it needs to be bumped again? Any way to get this going right now? I was hoping to demo the GraphQL type provider stuff to friends but I can't get it working on Mac or Windows.

[2018-10-10 18:59] samuela opened #180 "Website homepage code is out of date"
### Description

The example code on the project homepage (https://fsprojects.github.io/FSharp.Data.GraphQL/) doesn't work. For example, you cannot call `AsyncExecute` on a Schema.

[2018-10-10 20:30] ivelten commented on #164
@Rajivhost I created a draft pull request for this [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/181). Please, take a look and see what you think.

[2018-10-11 15:56] ivelten commented on #170
@bbhoss sorry for the delayed response. I'm working on a permanent solution for that [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/182).

[2018-10-11 16:52] bbhoss commented on #170
No worries. I am happy to try to help but it might take more work to get me up to speed than it's worth. I tried pulling your fork down and couldn't get it to build, fwiw. Thanks :)

[2018-10-11 18:15] ivelten commented on #170
@bbhoss I fixed the build script on my last push. Please, see if it works now. I believe that code that I added will solve the problem.

[2018-10-11 19:09] bbhoss commented on #170
I finally got it to build on my mac after wiping out an ancient Mono version and removing the net47 targeting. Now I'm hitting #153 :( I will check this later on my Windows machine though. Thanks for the help so far. Any insight into that other issue would be really helpful as well. I'm available via other modes as well; would love to help get this going on .NET Core.

[2018-10-13 01:02] bbhoss commented on #170
Just tested on Windows with VS2017 and .NET 4.6. It still complains with this error

[2018-10-15 13:11] ivelten commented on #170
OK, thanks for the information so far. I am diagnosing those cases and looking for the solution.

[2018-10-15 13:28] ivelten opened #183 "Type provider does not map fields with arguments"
### Description

Currently, the client type provider is not supporting fields with arguments.

### Repro steps

1. Run the Giraffe web server sample.

2. Create a console application and put this code on `Program.fs` file:

[code]

### Expected behavior

The `friends` field of the `Human` type is using an argument created from a middleware to filter lists. This field is optional. It would be good

[2018-10-27 17:52] Rajivhost opened #184 "Schema stitching support"
Hi,
How about schema stitching support like for example Apollo server/tools does.

https://www.apollographql.com/docs/graphql-tools/schema-stitching.html

https://github.com/hasura/schema-stitching-examples/blob/master/multiple-remote-graphql-apis/index.js

Interesting if we want to make a GraphQL Gateway, I mean something like this:

![image](https://user-images.githubusercontent.com/3539984/4760

[2018-11-02 06:35] Rajivhost commented on #157
I think, we need to provide this part as a middleware (based on [this](https://github.com/maticzav/graphql-shield) implementation for example).

[2018-11-19 19:03] johnberzy-bazinga commented on #165
Implemented in #166

[2018-11-19 19:03] #165 closed, assigned to nobody

[2018-11-19 19:05] johnberzy-bazinga commented on #83
This is taken care of as part of #119

[2018-11-19 19:05] #83 closed, assigned to nobody

[2018-11-19 19:07] johnberzy-bazinga commented on #82
This is fixed with the change made in #101

[2018-11-19 19:07] #82 closed, assigned to nobody

[2018-11-21 19:33] ivelten commented on #184
I did not give a complete though on this yet, but If we do this, I think we should achieve it by a middleware. This feature sounds nice, but I don't think it will we good as a core component - sounds more like an extension for the schema handling.

[2018-11-21 20:07] Rajivhost commented on #184
I agree, this can be provided as middleware (why not in the FSharp.Data.GraphQL.Server.Middlewares.AspNetCore project or in an other project name?).

[2018-11-28 13:05] ivelten commented on #170
@bbhoss Sorry for the very long delay in this. I found the solution for it, but it required me to restructure many things in the client project. I'm finishing those changes and will be opening a PR for this.

[2018-11-29 14:02] Zeroto opened #193 "Top level field name missing in subscriptions"
### Description

When using subscriptions, the top level field of the subscription is missing in the return data. Apollo expects the field to be present. This also creates problems when having multiple subscriptions in one operation. e.g.
[code]

### Repro steps

1) Define a schema that accepts the following subscription:
[code]

2) Subscribe to this subscription.

### Expected behavior

The data

[2018-11-29 15:42] Zeroto commented on #193
Looking at the spec ([https://facebook.github.io/graphql/June2018/](https://facebook.github.io/graphql/June2018/)) it seems that you can only have 1 root level field in the subscription query. [https://facebook.github.io/graphql/June2018/#sec-Subscription-Operation-Definitions](https://facebook.github.io/graphql/June2018/#sec-Subscription-Operation-Definitions)
So you can ignore the example I gave

[2018-12-03 22:42] johnberzy-bazinga commented on #193
@Zeroto I've included the fix for the top-level field name in #194 and released an update on Nuget. Thanks for the report!

[2018-12-04 11:53] Zeroto commented on #193
@johnberzy-bazinga Thanks! I'm using the new version and it seems to work fine 😃

[2018-12-05 00:06] johnberzy-bazinga commented on #193
Great!

[2018-12-05 00:06] #193 closed, assigned to nobody

[2018-12-05 08:53] nojaf opened #195 "DirectiveLocation not up to date"
### Description

I noticed that [the spec](https://facebook.github.io/graphql/June2018/#sec-Introspection) now has more enum values for [DirectiveLocation](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Shared/Introspection.fs#L115).

Would you accept a PR for this? I would like to add them.

My concrete use-case is using the client TypeProvider, and my backend

[2018-12-05 09:47] nojaf opened #196 "Remove newlines from IntrospectionQuery"
### Description

When trying the client TypeProvider it returns 404 when only passing the url.

### Repro steps

[code]

### Expected behavior

Server returns json and TypeProvider kick in.

### Actual behavior

TypeProvider fails due to 404.

### Known workarounds

When I looked into the code, I saw [requestSchema](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/34a5ea5d325aeb9de161e935d5c

[2018-12-05 09:50] nojaf opened #197 "Add authentication to TypeProvider."
### Description

It is currently not possible to add any form of authentication to the client TypeProvider.
At runtime I would need to add some Authentication header.

[2018-12-05 09:55] nojaf opened #198 "Change url of TypeProvider at runtime"
### Description

Not entirely sure if this is an issue, but I would need to change the url of my backend at runtime to point to a different stage. Is this possible in the TypeProvider.

<sub>PS: Sorry for logging all these issues, got a bit carried away and I just really want to do something with this project.</sub>

[2018-12-06 17:40] ivelten commented on #196
Are you using our component to build the server? Actually, we are manually removing the line breaks in the server code, not on the client queries. You can see this on our Giraffe Server sample:

[code]

[2018-12-06 17:44] ivelten commented on #195
I think it's fine to subimit a PR for this.

[2018-12-06 17:48] nojaf commented on #196
I'm not using this package for my backend. So I guess that  would explain everything.
I'm using [graphql](https://github.com/graphql-dotnet/graphql-dotnet) in C#.

[2018-12-06 18:05] ivelten commented on #170
@bbhoss The pull request with your features is [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/179). I made the client compatible with .NET 4.7, .NET Core 2.1 and .NET Standard 2.0.

[2018-12-06 18:08] ivelten commented on #198
AFAIK, this is not possible. It's an interesting feature, but unfortunately we can't work on this at the moment. I worked on a kinda big pull request to update our dependencies and solve some of the type provider problems with dependencies [here](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/179). You are welcome to open a pull request to add this feature if you want to.

[2018-12-06 18:14] ivelten commented on #197
This could be interesting, unfortunately, we are focusing more on the server at the moment. If you have an idea of implementation, feel free to submit a pull request, we can review and discuss it laters.

[2018-12-22 21:36] bilkusg opened #204 "GraphQL Client and Fable 2"
### Description

I am using Fable 2 and trying to use the GraphQL client but keep getting errors with the type provider
when I try to build the project.
I suspect this is not working with Fable 2 yet. I get asked to add System.Private.CoreLib
which as far as I can tell is an indication that there's an incompatibility somewhere.
If it is possible to use the client with Fable 2, can someone point me

[2018-12-27 12:30] albertwoo commented on #170
When can we merge it and release it? Because currently I have a similar issue, when I use the provider, it says cannot load "Newtonsoft.Json, Version 11.0.0.0"

[2019-02-19 19:11] Rajivhost opened #213 "Builders Integration"
I really like the simplicity of the builder approach used [here](https://github.com/GT-CHaRM/CHaRM.Backend/blob/master/src/CHaRM.Backend/Schema.fs)

[2019-02-20 06:41] Horusiath opened #214 "What has happened to AsyncVal?"
The sole purpose of [AsyncVal](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Shared/AsyncVal.fs) was to provide capability of composable low-overhead, high performance continuation with fast track for immediately resolved values (pretty much what `ValueTask<>` is for `Task<>`). It was simple value type with 2 possible states. From what I see, now it's neither v

[2019-02-21 06:33] johnberzy-bazinga commented on #214
You're absolutely right. I completely missed this change in one of the PRs and we should turn it back into a struct so it doesn't allocate.

I'll go through the codebase in the next few weeks and try to improve some of the performance bottlenecks and regressions.

[2019-02-21 06:54] johnberzy-bazinga commented on #214
Looks like it was introduced in this PR:

https://github.com/fsprojects/FSharp.Data.GraphQL/commit/be8040590d89af7ea323185bbb24658154fcb9e1#diff-6f48d92a67c3f2191a77201751948bef

[2019-02-21 07:00] johnberzy-bazinga commented on #213
This is similar to #86 . It would be nice to have a DSL for schema definitions but there would be a lot of overloads for the various resolver options. Computational expressions don't currently support overloads but there is an RFC to add it to the language here:  https://github.com/fsharp/fslang-design/blob/master/RFCs/FS-1056-allow-custom-operation-overloads.md

[2019-04-10 14:53] lucasteles opened #215 "Authentication header in `GraphQLProvider`"
### Description

Have we some way to pass an authentication header in `GraphQLProvider` ?
I'm trying to use the github graphql API, but he needs a bearer token

### Repro steps

[code]

dont compile,  gives error:

[code]

[2019-04-10 16:31] johnberzy-bazinga commented on #215
@lucasteles We'll look at introducing a static parameter for the Authorization header.

/cc @ivelten

[2019-04-10 16:34] johnberzy-bazinga commented on #204
@bilkusg Sorry for the delay. We've decided to rewrite the GraphQL provider. The plan is to support Fable in the near future. You can preview the work in https://github.com/fsprojects/FSharp.Data.GraphQL/pull/179.

Any feedback is appreciated!

[2019-04-10 16:35] johnberzy-bazinga commented on #198
@nojaf We're rewriting the provider and this is accounted for in the new version. The Pull request for the work is
https://github.com/fsprojects/FSharp.Data.GraphQL/pull/179

It should be released in the coming days.

[2019-04-10 17:03] nojaf commented on #198
Great news! Many thanks for everybody's hard work.

[2019-04-16 07:53] #195 closed, assigned to nobody

[2019-04-25 12:23] Zeroto opened #216 "Enums as variables returns an error"
### Description

Enums are currently not supported as a variable type in the server. According to the spec an Enum is a valid input type: https://graphql.github.io/graphql-spec/June2018/#IsInputType()

### Repro steps
1) Define a schema with an enum type.
2) Try to use that type as a variable

e.g.
The type definition
[code]
Trying to use it as a variable
[code]

### Expected behavior
Enum is pars

[2019-04-25 17:21] johnberzy-bazinga commented on #216
Thanks for the report. We'll look at fixing this as part of the next release.

[2019-05-10 10:25] andymeierdev opened #222 "FSharp.Data.GraphQL.Shared nuget; Release tags"
### Description

First would like to say awesome project. Thanks for the great work!

Trying out 1.0.0-beta2 I see that `FSharp.Data.GraphQL.Types` has moved to `Shared` project. I don't see a nuget package for this and was wondering what is the correct way to reference?

Also, would it be possible to create a git tag on new releases? It is helpful for me to reference the state of the code at a pa

[2019-05-13 14:48] nojaf commented on #197
Was able to add headers with beta3.

[2019-05-13 14:48] #197 closed, assigned to nobody

[2019-05-13 14:48] nojaf commented on #198
Works with beta3.

[2019-05-13 14:48] #198 closed, assigned to nobody

[2019-05-14 03:57] johnberzy-bazinga commented on #131
This should work now. Just use build.cmd or build.sh.

[2019-05-14 03:57] #131 closed, assigned to nobody

[2019-05-14 04:00] johnberzy-bazinga commented on #123
This is an old issue and seems to be working with VS now.

[2019-05-14 04:00] #123 closed, assigned to nobody

[2019-05-14 04:00] johnberzy-bazinga commented on #216
@Zeroto this is fixed in the latest server now.

[2019-05-14 04:00] #216 closed, assigned to nobody

[2019-05-14 11:33] nojaf commented on #204
Hi, should the latest beta work with Fable? I believe the source files [are missing from the nuget package](https://fable.io/faq/#which-files-need-to-be-included-in-the-nuget-package-).

Is the TypeProvider an [Erasure one](https://fable.io/faq/#can-i-use-type-providers-with-fable-)?

[2019-05-15 04:55] johnberzy-bazinga commented on #215
@lucasteles this has been introduced now. Please let us know if you come across any issues.

Thanks

[2019-05-15 04:55] #215 closed, assigned to nobody

[2019-05-15 06:02] johnberzy-bazinga commented on #204
Hi @nojaf,

We haven't added support for Fable in the latest type provider redesign. @alfonsogarciacaro wrote the first Fable integration, so he knew what he was doing w.r.t. Fable. Do you know if the mechanism we were using in the old TP is still valid?

Thanks,
John

[2019-05-15 14:19] NatElkins opened #224 "Client Provider Failure: Error converting value "FIELD_DEFINITION""
### Description

When trying to hit a local Apollo GraphQL server, the type provider fails.

### Repro steps

Unfortunately I'm operating against a closed source GraphQL server.  But what I did was create a console app, reference `nuget FSharp.Data.GraphQL.Client 1.0.0-beta5`, and then try and use it like so:

[code]

### Expected behavior

It shouldn't fail.

### Actual behavior

When just pointi

[2019-05-15 14:22] NatElkins commented on #224
Also, oddly when I build this the error I see is

[code]
 but that might be a red herring.

[2019-05-15 17:33] johnberzy-bazinga commented on #224
@NatElkins Are you trying the provider in FSI?

[2019-05-15 17:34] NatElkins commented on #224
Nope.

[2019-05-15 17:35] johnberzy-bazinga commented on #224
Do you think you can share the introspection schema Json? Also, are you using a recent version of Apollo?

[2019-05-15 17:42] johnberzy-bazinga commented on #183
Old issue. Closing as the entire TP was redesigned.

[2019-05-15 17:42] #183 closed, assigned to nobody

[2019-05-15 17:44] johnberzy-bazinga commented on #104
Closing as this appears to be an old issue.

[2019-05-15 17:44] #104 closed, assigned to nobody

[2019-05-15 17:44] NatElkins commented on #224
1. Sure
[schema.txt](https://github.com/fsprojects/FSharp.Data.GraphQL/files/3183782/schema.txt)

2. I think so.  I'm looking at the package-lock.json and I see `apollo-engine` has a version of 1.1.2.  https://www.npmjs.com/package/apollo-engine .

[2019-05-15 17:51] johnberzy-bazinga commented on #224
![Screen Shot 2019-05-15 at 10 49 21 AM](https://user-images.githubusercontent.com/18220364/57797394-346ff000-76ff-11e9-9765-6eb755095a21.png)

Strange. It seems to work (at least in FSI). At least we can rule out the introspection schema. Are you trying in a console or library project?

[2019-05-15 17:57] johnberzy-bazinga commented on #224
Also, if you're using VS Code, are you using the net or netcore language service?

Thanks

[2019-05-15 17:57] NatElkins commented on #224
Console project.

Here's what I get when I try to use Ionide (I was using Rider before).

<img width="877" alt="image" src="https://user-images.githubusercontent.com/1795462/57797836-5aa28980-7719-11e9-99ba-83ff7b608b31.png">

[2019-05-15 18:00] NatElkins commented on #224
Library works:

<img width="877" alt="image" src="https://user-images.githubusercontent.com/1795462/57798062-cf75c380-7719-11e9-8af9-82987c6fb974.png">

[2019-05-15 18:03] johnberzy-bazinga commented on #224
@NatElkins Thanks for debugging. So I guess it's an issue with netcoreapp at designtime. Are you using netcoreapp2.0?

[2019-05-15 18:07] NatElkins commented on #224
Super weird, after I got it working in the library it started working everywhere (both Rider and Ionide, console and library).

I was using netcoreapp2.2.  I just flipped it to 2.1 and then back to 2.2...can't quite remember the order I did things.

[2019-05-15 18:19] johnberzy-bazinga commented on #224
Super strange. We did notice some weird behaviour too, but that was only after updating packages. We attributed the issue to some sort of caching.

[2019-05-15 18:24] NatElkins commented on #224
Actually I think I spoke to soon.  I often get a "Critical Failure" error with Rider, which kills all Intellisense.  Could be their issue though.  Seems like I need to get the right order of having the GraphQL service be up and console/library being in a cleaned and restored state.

Also seeing some things like this:
<img width="877" alt="image" src="https://user-images.githubusercontent.com/17954

[2019-05-15 18:33] johnberzy-bazinga commented on #91
Closed as we actually implemented this now.

[2019-05-15 18:33] #91 closed, assigned to nobody

[2019-05-15 19:48] johnberzy-bazinga commented on #224
@NatElkins strange. We don't use rider, but I'll give it a try when I have some time.

[2019-05-15 19:49] johnberzy-bazinga commented on #170
Closing as we no longer use Newtonsoft.Json in the client provider.

[2019-05-15 19:49] #170 closed, assigned to nobody

[2019-05-15 19:50] johnberzy-bazinga commented on #132
@Kurren123 This is complete now in the latest provider.

You can specify the schema with a file, eg.:
[code]

[2019-05-15 19:50] #132 closed, assigned to nobody

[2019-05-15 19:53] johnberzy-bazinga commented on #148
It's a bit out of scope for this project. I've actually only see this being supported with databases where features like ad-hoc aggregation are required.

[2019-05-15 19:53] #148 closed, assigned to nobody

[2019-05-15 19:54] johnberzy-bazinga commented on #126
@baio We've completely redesigned the client provider, so I'm closing this as it's out-of-date.

[2019-05-15 19:54] #126 closed, assigned to nobody

[2019-05-15 19:54] johnberzy-bazinga commented on #65
This is introduced as part of the Middleware additions.

[2019-05-15 19:54] #65 closed, assigned to nobody

[2019-05-15 19:56] johnberzy-bazinga commented on #135
Closing as this is out-of-scope as an internal feature. From my understanding, this can be introduced outside the library by using a hash of the query as a key.

[2019-05-15 19:56] #135 closed, assigned to nobody

[2019-05-15 20:03] johnberzy-bazinga commented on #196
@nojaf Closing as I think it's something specific to the server implementation being too sensitive with whitespace. Also, the TP has been completely redesigned so this might not apply anymore.

[2019-05-15 20:03] #196 closed, assigned to nobody

[2019-05-15 20:06] johnberzy-bazinga commented on #153
@bbhoss The typeprovider has been redesigned to work with netcore now.

[2019-05-15 20:06] #153 closed, assigned to nobody

[2019-05-18 06:25] johnberzy-bazinga commented on #222
Hi @ameier38

Thanks!

The Shared project is currently included in the Client/Server nuget packages as an additional assembly. There is an open PR that we haven't merged yet to extract it out into another package.

As for release tagging, what were you thinking? We currently deploy to Nuget manually, but we would be happy to consider automating the tagging process.

 Thanks,
John

[2019-05-22 04:17] johnberzy-bazinga commented on #224
@NatElkins Do you mind trying with beta-07 to see if the crashing behaviour has been improved?

Thanks,
John

[2019-05-22 12:34] andymeierdev commented on #222
Cool thanks. I think you could leverage https://fake.build/apidocs/v5/fake-api-github.html to publish a release. I can put together a PR to add to the build script if that would be helpful.

[2019-05-22 15:35] NatElkins commented on #224
Still getting the same behavior when I point it to a locally running server with Rider, but it works when pointing to a local server using Ionide.

I noticed that Rider runs its Intellisense using Mono, while I have Ionide set to use `netcore`.  When I change Ionide to run using `net`, it doesn't seem to work as well and stops producing Intellisense when I navigate to my `Query` type (can be seen

[2019-05-22 16:49] johnberzy-bazinga commented on #224
@NatElkins That's strange. We're using the typeprovider in a Fabulous app with VS for Mac. If I'm not mistaken, VS for mac also runs intellisense using Mono. It may be an older version of Mono, though. I think 5.18.x.

Do you know which version of Mono you're using?

[2019-05-22 16:58] NatElkins commented on #224
Mono JIT compiler version 5.18.1.3 (2018-08/fdb26b0a445 Wed Mar 20 10:02:02 EDT 2019)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	Interpreter:   yes
	LLVM:          yes(600)
	Suspend:       preemptive
	GC:            sgen (concurren

[2019-05-22 22:34] johnberzy-bazinga commented on #222
There was a bug with the packaging where the shared library was not included. Should work with beta9.

Thanks

[2019-05-27 03:02] Swoorup opened #229 "Missing namespace/module with 1.0.0-beta9"
### Description

Using `FSharp.Data.GraphQL.Server.Middlewares` gives `The namepace Middlewares is not defined`.

### Repro steps

1. Create a sample project or copy the sample starwars example.

2. Install both Server and Middlewares packages via Nuget both specifically 1.0.0-beta9

3. Observe the compiler error.

![image](https://user-images.githubusercontent.com/3408009/58392892-b6043e00-806e-1

[2019-06-20 17:18] klanthier opened #232 "Is it possible to pass down functions/variables inside an object resolver ?"
### Description

This is not exactly an issue per say, but more a question.

After you have built your schema of object resolvers, you get your query as an input in your server and you process it using the Schema executor to get the reply from whatever your query was.

At the point where you execute the schema
[code]

Is it possible somehow here to pass down some top level logging function/variabl

[2019-06-21 22:07] ivelten commented on #229
@Swoorup that was actually an issue caused by a design change in the paket template, in which we accidentaly removed the command to add the dll reference when installing the package. The fix is in #228 ([this commit](https://github.com/fsprojects/FSharp.Data.GraphQL/pull/228/commits/852c21d9c9eb139d62965a3cc2684f46c1504005), to be more precise). We will be releasing it soon, hopefully next week. T

[2019-06-21 23:09] johnberzy-bazinga commented on #232
Certainly. AsyncExecute takes a `data` parameter which is accessible via the `ResolveFieldContext` (the first parameter to the resolve function). The root object is not typed when you access it through the context, but you can create an extension member so you don't need to downcast it everywhere.

[code]

Your top-level fields i.e. query, subscription, mutation should look something like below:

[2019-07-01 20:50] nojaf commented on #157
Hello, could I get some pointers on how I can add my bearer token info from my HttpRequest into the query somehow and then later on use inside a resolver to only return a subset of the data based on the content from the token?

[2019-07-04 16:47] klanthier commented on #232
Thanks a bunch !

For those looking at this, that's how I did it :

[code]

[code]

This way you can pass down arguments or whatever function you might need for your resolvers.

In my case, I needed to pass down the logger since I'm using AWS Lambda and the logger function is only given from the entry point

[2019-07-04 16:47] #232 closed, assigned to nobody

[2019-07-05 15:40] klanthier opened #236 "Automatically encode and decode input arguments?"
Looking quickly at how to accept incoming params, is there a current way that allows defining something more global. Currently that's how it's done:
[code]

Now I was wondering if there is another way say we could have something like this which could potentially automatically encode the input params and decode them as well ? Something like this perhaps:
[code]

[2019-07-10 00:41] johnberzy-bazinga commented on #236
This seems reasonable to me.

@ivelten @TOTBWF  thoughts?

[2019-07-11 01:38] johnberzy-bazinga commented on #24
This has been released now. Available in the 1.0.0 package onwards. It's utilized in both the client and server libraries.

[2019-07-11 01:38] #24 closed, assigned to nobody

[2019-07-11 01:39] johnberzy-bazinga commented on #121
This is fixed as part of the validation work introduced in 1.0.0 package onwards.

[2019-07-11 01:39] #121 closed, assigned to nobody

[2019-07-11 02:08] johnberzy-bazinga commented on #157
@nojaf `executor.AsyncExecute` takes a data parameter which is just an arbitrary value you can access from within a resolver function. e.g.

`let myRoot = ctx.Context.RootValue :?> MyRoot` where `ctx` is the first argument to the resolver function.

Your record `MyRoot` might look something like:

```type MyRoot = { Prinicipal : IPrincipal; ... }```

When using asp.net core identity you should be

[2019-07-11 06:18] Swoorup commented on #236
Looks like could potentially be done using reflection magic and extension functions?

[2019-07-12 19:10] nojaf commented on #157
Hey, thanks for this pointer. I've tested this and it works fine.
So what should I do/return if my user is unauthorized to query the info?

[2019-07-12 19:20] ivelten commented on #236
Yes, I think this makes a lot of sense. The user code can define and use input arguments with less code. Certainly, achievable using reflection or extensions. I am not sure about having more than one way to define and use input arguments though. If we do this, should we keep our actual approach alongside the new one?

[2019-07-12 19:41] johnberzy-bazinga commented on #157
@nojaf What you could do is just throw an exception in the individual resolver functions. That way it won't be all-or-nothing like the case of a 403 response in http. The user will still get the results for fields that they're authorized to see. Depending on the situation you might want to thread the user permission/roles through or encode enough information in the claims to avoid additional netwo

[2019-07-13 18:28] nojaf commented on #157
Thanks again. Would it make sense to put the protected resources in a special Object definition under the root query?

For example:
[code]
and then guard the protected block by some middleware?

[2019-07-14 21:19] johnberzy-bazinga commented on #229
This should be fixed now. Please let us know if you're still experiencing issues.

[2019-07-14 21:19] #229 closed, assigned to nobody

[2019-07-15 19:55] klanthier commented on #236
Can I have a small example of how to use reflections, I might try to tinker something with it as an initial POC.

I tried looking online for an example of reflections, but they are really hard to find.
If you could maybe give me a super small example, I will surely invest some time in this

[2019-07-22 18:55] johnberzy-bazinga commented on #120
Following up from a discussion on gitter, I'll see if I can take a stab at this over the next few days.

My plan is to create a Define.BatchField. Where the resolver's signature would look something like:

`ResolveFieldContext -> seq<'Val> -> seq<'Val * 'Res>`. The resolver would take as input the list of the parent values (instead of a single parent as with normal resolvers) and return a list of

[2019-07-24 01:40] Swoorup opened #241 "Sample star wars api question"
Sorry if this may have been brought up earlier.
The sample app for creating a graphql server looks really daunting. Was wondering if files like
https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/samples/star-wars-api/WebSocketMiddleware.fs and https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/samples/star-wars-api/JsonConverters.fs are really necessary?

[2019-07-25 01:14] johnberzy-bazinga commented on #241
@Swoorup I totally agree. We should make the sample as easy as possible. We don't need to demonstrate websockets or middleware in that sample. Care to take a stab at a PR?

Thanks

[2019-08-06 11:30] draganjovanovic1 opened #243 "FSharp.Data.GraphQL.Client: GraphQL NuGet compatibility (DateTime and DateTimeOffset)"
### Description

Client type provider does not work for e.g. `DateTimeOffset` deserialization. It knows to infer CLR Type in compile time but fails on runtime deserialization. I've checked the code and there is explicit handling of `Date` type but not `DateTimeOffset` nor `DateTime` types.  https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Client/BaseTypes.fs#L350

[2019-08-06 11:35] draganjovanovic1 opened #244 "FSharp.Data.GraphQL.Client: ID deserialization fails"
### Description

My mutations return `ID` graph type. Response deserialization fails when I execute mutation. Seems like code on L356 (`ID` not handled) is not aligned with L344 (`ID` hadled).

https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Client/BaseTypes.fs#L344
https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Client/BaseType

[2019-08-08 19:32] johnberzy-bazinga commented on #244
Custom scalars that are not known by the provider should be (de)serialized as strings. I'll take a look at why it's not working that way.

Thanks for the report!
John

[2019-08-12 22:18] TOTBWF opened #245 "Variable Usage Validation fails on nested inputs"
The query
[code]
should pass validation, but it fails with
[code]

The offending line seems to be
[code]
in Validation.fs

[2019-08-14 01:23] #245 closed, assigned to nobody

[2019-08-17 07:18] eterekhin opened #247 "The namespace GraphQL is not defined"
Hello
I pulled the project and try to run it.
Completed build.sh, after that there is such an error
![image](https://user-images.githubusercontent.com/48148702/63207906-a8db7600-c0d6-11e9-88e6-0c148b7428d9.png)

Tell me, please, how can I fix this?

[2019-08-17 07:27] eterekhin commented on #247
if i create a new asp.net core 2.1 project then all namespace is defined

[2019-08-17 09:13] eterekhin commented on #247
the problem is gone

[2019-08-17 09:13] #247 closed, assigned to nobody

[2019-09-04 14:44] haf opened #248 "Q: Print AST to string?"
### Description

Question: is it possible to print the AST to a string (latest master)? The `ToString()` impl primarily prints `x.name + "!"`. I'm trying to build a F# to GraphQL generating using your Shared lib.

OT: can you split the Shared lib to a separate nuget please? That way I don't have to reference either the client or server to work with the object model.

Similarly, why are the Ast con

[2019-09-04 23:10] johnberzy-bazinga commented on #248
Hi @haf

Can you clarify as to which constructors are internal?

Thanks,
John

[2019-09-05 06:04] haf commented on #248
@johnberzy-bazinga It was `FieldDefinition`, `ScalarDefinition`, etc, but I moved the TypeDefinitions to the Ast module (see #249) and then I can use them.

[2019-09-05 20:33] johnberzy-bazinga commented on #248
@haf Is your plan to generate code based on GraphQL SDL documents? if that's the case, would you consider modifying our existing parser to do that? We have a use case for that in our client provider so we're planning to eventually support SDL documents.

[2019-09-06 08:13] haf commented on #248
@johnberzy-bazinga Actually I'm going the other way, from F# to SDL right now.

I've written a basic transpiler from F# to GraphQL SDL based on the F# compiler services and I'm using the AST in both languages, and I've written an GQL AST -> text printer. This is a currently passing test:

[code]
I'll consider sending it back, if you reciprocate by cleaning up the pull requests that have been linge

[2019-09-10 16:29] johnberzy-bazinga commented on #248
@haf That's pretty cool. We have had similar ideas to introduce a reflection-based schema with the use of attributes for metadata such as descriptions. Your approach is nice since you can just extract the comments from source. Do you have a bit of time to join our gitter for a chat? We're working on some changes for 2.0 release that will have some breaking changes. Would be good to coordinate with

[2019-09-10 16:38] haf commented on #248
@johnberzy-bazinga I've joined now

[2019-10-07 17:22] Swoorup commented on #86
Have to add that consuming the API in this form:
`https://github.com/GT-CHaRM/CHaRM.Backend/blob/master/src/CHaRM.Backend/Schema/Item.fs`

makes it much more simpler and easier to implement than the current form.

[2019-10-08 17:13] NatElkins opened #250 "Question: Why overloads instead of optional parameters?"
Edit:

I'm giving the FSharp.Data.GraphQL client provider another try, since it's been a few months.  Looks like I'm not running into the same errors I got last time.

One thing I notice is that when I create an operation using a query like so:

[code]

`op.Run` creates an overload for every permutation of parameters, plus a runtime context.

Is there any reason [optional parameters](https://docs.

[2019-10-08 17:13] NatElkins commented on #250
Sorry, accidentally hit enter, ignore while I actually type out my question

[2019-10-08 17:44] #224 closed, assigned to nobody

[2019-10-08 17:44] NatElkins commented on #224
Can't seem to repro this issue anymore with version 1.0.2.

[2019-10-08 17:52] NatElkins opened #251 "Getting 400 Bad Request response from GraphQL server"
### Description

I'm trying to test the client provider with a local GraphQL server.  I'm trying a query that works fine using GraphiQL, but fails during runtime for the provider.

### Repro steps

Unfortunately I can't share the GraphQL server implementation, but I'll try to describe what happens.

Here's my program:

[code]

It compiles without issue.  However, when I run it, I get the following

[2019-10-08 19:52] johnberzy-bazinga commented on #250
@NatElkins Originally we did have optional parameters but made [this](https://github.com/fsprojects/FSharp.Data.GraphQL/commit/3253120ef805ec265a56362e0975de7bf9f434fb) change. There was good reason for it, but I can't recall exactly what that was.

[2019-10-09 00:32] johnberzy-bazinga commented on #251
@NatElkins I think I see what's going on here. We actually parse the query, augment it with the addition of the `__typename` field and then rewrite the query. This is so we know what to serialize the responses to (in the case of a union or interface return type). It looks like when we rewrite the query and the query has variables but has no name we mistake the lack of name for a shorthand query. W

[2019-10-09 13:39] NatElkins commented on #250
I just ask because I get stuff like this (even though I know this isn't specifically for an `Operation`):

<img width="702" alt="Screen Shot 2019-10-09 at 9 15 30 AM" src="https://user-images.githubusercontent.com/1795462/66485840-76ffe380-ea77-11e9-88c5-e67cbfefae7e.png">

Notice the number of overloads...just absolutely annihilates Intellisense, memory use goes through the roof.  This is for a t

[2019-10-09 14:31] NatElkins commented on #251
Yup changing it to `query q ...` works now.  Thanks!

[2019-10-15 22:23] aggieben opened #252 "Client type provider fails to compile using local json schema, .NET Core 3.0"
### Description

I'm trying to use the type provider in a .NET Core 3.0 app and experience the following compiler error:

`error FS3021: Unexpected exception from provided type 'FSharp.Data.GraphQL.GraphQLProvider,introspection="shopify_schema.json"' member 'GetMethods': The type provider 'FSharp.Data.GraphQL.Client.GraphQLTypeProvider' reported an error: Object reference not set to an instance of

[2019-10-16 22:12] johnberzy-bazinga commented on #252
@aggieben Do you mind sending me the schema? Also, can you send me the actual mutation you're submitting (or one that reproduces the issue)?

Thanks,
John

[2019-10-17 19:08] aggieben commented on #252
Sure, I don't mind.  This is what I generated using apollo against the Shopify API (documented here: https://help.shopify.com/en/api/graphql-admin-api).
[shopify_schema.zip](https://github.com/fsprojects/FSharp.Data.GraphQL/files/3740895/shopify_schema.zip)

The mutation above is just cruft, really.  The issue manifests before I even wrote those lines.  This line:
[code]
failed all by itself.

[2019-10-26 03:11] aggieben commented on #252
I think this must have been caused by the particular json schema that was generated by apollo.  I generated schema with a different tool (`graphql schema` with the graphql cli) and the type provider seems to be happier with that.  That's not to say there isn't still an issue here, but at least we can know it's not completely broken.

For reference, the schema that seems to be working:
[shopify_adm

[2019-10-26 03:23] aggieben opened #253 "Type provider error on "variable X not used", but"
### Description

Using a json schema, and a query written in a separate file, the type provider doesn't recognize that all the fields in a query are used.

### Repro steps

Please provide the steps required to reproduce the problem

1. Use the shopify schema for the type provider:
[shopify_admin.json.zip](https://github.com/fsprojects/FSharp.Data.GraphQL/files/3774396/shopify_admin.json.zip)

`typ

[2019-10-28 18:06] johnberzy-bazinga commented on #253
This seems to be a bug in validation. we probably aren't traversing the entire AST (in your case the list of values).

[2019-10-29 02:13] aggieben commented on #252
Another bit: I generated a json schema using the introspection query from the README, and the provider seems happy enough with that.  I don't know the differences between the produced schemas.

[2019-10-29 05:07] johnberzy-bazinga commented on #252
@aggieben It may be that the introspection query in Apollo has changed (or maybe you're using an old version of apollo server?). In the near future we are hoping to also support the SDL format. We're going to need to update the parser before we can do that.

[2019-10-31 18:24] inputfalken opened #255 "Are Dataloaders available?"
Hi, I'm wondering if there's [dataloaders](https://graphql-dotnet.github.io/docs/guides/dataloader) or something similar is available.

[2019-11-01 14:45] aggieben opened #256 "TypeProvider runs out of control with certain schema/operation"
**Describe the bug**

When opening a specific .fsx file that makes use of a type provider, the .NET Core Host used by Ionide loses its mind and hogs all the CPU and memory.  Pretty spectacularly:

![image](https://user-images.githubusercontent.com/1321/67907463-eed89f80-fb45-11e9-9c6f-2155e9ee8937.png)

I did also try this with Visual Studio 2019, and it exhibited similar behavior, although after

[2019-11-12 15:28] NatElkins commented on #250
Just thought I'd swing back around to this.  @ivelten Do you remember why the change was made?

[2019-11-12 17:04] ivelten commented on #250
@NatElkins as you said, yes, we originally designed type constructors to use optional parameters for their properties. But we faced a problem with the Type Provider SDK itself and nullable/option types.

The SDK does not allow us to use an option or nullable type as an optional argument when declaring a provided constructor - at least not if we don't provide a default value for it. But the design

[2019-11-15 11:43] evilz opened #257 "Type Provider bad query"
### Description

Making simple request with params goes wront with 422 status

### Repro steps

this code

[code]
will product bad request

[code]

params are not well formated

### Expected behavior

it should be something like this

[code]

### Related information

* Operating system : Windows 10
* .NET Runtime, CoreCLR or Mono Version : dotnet core 3

[2019-11-15 18:11] NatElkins commented on #250
@ivelten Thanks for the comprehensive writeup.  I'll have a think about it.

[2019-11-25 20:39] maarek opened #258 "Unable to cast object of type to type"
### Description

I am receiving an error when converting a response value. The error I receive is "Unable to cast object of type `FooResult` to type `Foo` where FooResult is a value of a discriminated Union. Since it compiles, I am unsure of how to debug the issue or how to diagnose the error.

### Repro steps

My 'In type Response is a generated C# class provided by a Protobuf generator and my `O

[2019-11-26 17:17] maarek commented on #258
I think I see where my confusion lies. Define.Union does not like the DU as the 'Out as it can't handle conversion from the DU. The idea of the resolveValue was to take an 'In as a DU type and pull the values out of it, then box those to an obj? So I removed the Result DU completely, removed the type definition on the Union and boxed the response values and it seems to have worked.

[2019-11-27 14:30] pottereric commented on #215
Is there an example of how to use this?

[2019-11-27 20:11] pottereric commented on #215
Nevermind, I found the sample code in the repo.

[2019-12-10 23:35] joshuapassos commented on #252
I have this same problem using graphql schema form github.

[2020-02-16 00:06] Yakimych opened #263 "Invalid query generated for object as GraphQL function parameter"
### Description

I am using Hasura and am trying to run the following query:
[code]

According to Hasura logs, the actual query that is sent to the server has `id` and `_eq` wrapped in escaped quotes, which fails validation:
[code]

NOTE: The query works perfectly without parameters, or if sending a multiple "simple" parameters (rather than a nested object), such as: `test_table(limit: 1, offset:

[2020-03-02 21:46] njlr commented on #204
What is the status of the type provider with Fable?

[2020-03-03 23:10] johnberzy-bazinga commented on #263
@Yakimych This should be fixed with the latest release. Please let me know if you have any issues.

Thanks

[2020-03-04 19:55] Yakimych commented on #263
@johnberzy-bazinga  Indeed, now it works correctly, thanks!
I have noticed a different problem, however. When using a query with `order_by`:
[code]
I get the following error:
[code]

Not sure if it's related though, shall I open a separate issue and close this one?

[2020-03-11 01:58] mikegottlieb commented on #241
I'm using that sample to try to get a project up and running. It feels like quite a bit of it like the Helpers, HttpHandlers, and OptionConverter would be generally useful stuff.

I got my whole schema set up and then was a bit lost trying to actually create my endpoint.

[2020-03-16 07:13] xperiandri opened #267 "Same query name causes type provider to use the first one"
### Description

If you declare Different GraphQLProvider instances with the  same query name then type provider compiles the first found query to all type provider generated code where query with the same name occurs

### Repro steps

https://github.com/ZhenyaP/fsharp-graphql-client-sample

### Expected behavior

Even though queries have the same name they are defined in different instances hence

[2020-03-19 21:56] blakeSaucier commented on #244
I'm also having this issue - thanks.

[2020-03-22 06:46] johnberzy-bazinga commented on #263
@Yakimych Sorry for the delay. Can you open another issue with some additional information.

Thanks

[2020-03-22 19:09] johnberzy-bazinga commented on #257
Closing as this has been resolved now.

[2020-03-22 19:09] #257 closed, assigned to nobody

[2020-03-22 19:09] johnberzy-bazinga commented on #263
Closing as this has been resolved now. @Yakimych please open a separate issue for your other bug.

[2020-03-22 19:09] #263 closed, assigned to nobody

[2020-03-22 19:11] johnberzy-bazinga commented on #253
This should be fixed now. Please let us know if you're still seeing this issue.

[2020-03-22 19:11] #253 closed, assigned to nobody

[2020-03-22 19:12] johnberzy-bazinga commented on #244
@draganjovanovic1 @blakeSaucier. This should be fixed now. Custom scalars will be treated as strings by the provider.

[2020-03-22 19:12] #244 closed, assigned to nobody

[2020-03-22 19:14] johnberzy-bazinga commented on #214
We've changed it back to a Struct.

[2020-03-22 19:14] #214 closed, assigned to nobody

[2020-03-22 19:19] johnberzy-bazinga commented on #267
This is really by design. We realize it's a bit of a pitfall. We can mangle the name, but the type name but it would need to be deterministic. Changing the name to add a hash of the query as a suffix means that modifying a query would result in a new type name.

[2020-03-22 19:56] johnberzy-bazinga commented on #251
The client should be working with shorthand queries now.

[2020-03-22 19:56] #251 closed, assigned to nobody

[2020-03-22 20:53] xperiandri commented on #267
I'm okay with that just adding a design-time error would be extremely helpful!

[2020-03-22 21:10] johnberzy-bazinga commented on #267
Yes. I don't know if there is a way to do that unfortunately. We can't differentiate between a query that's been updated (i.e. the same query being modified) vs. a new query with the same name as far as I know.

[2020-03-22 23:11] Yakimych opened #270 "Compile-time error: "Argument field or value named 'order_by' can not be coerced""
### Description

I am using Hasura, and trying to run the following query:
[code]

The query is valid and works if run manually, but I get a compile-time error with the F# Type Provider:
[code]

The relevant part of the schema:
[code]

I've tried other parameters, such as `offset`, `limit`, `where` (this one works now: https://github.com/fsprojects/FSharp.Data.GraphQL/issues/263), and they work. `

[2020-03-22 23:13] Yakimych commented on #263
@johnberzy-bazinga
Great, thanks - created a new issue: https://github.com/fsprojects/FSharp.Data.GraphQL/issues/270
Let me know if you need more information - I could dump the schema, but it's over 3000 lines...

[2020-03-22 23:37] johnberzy-bazinga commented on #270
By any chance do you have any other query named `q`?

[2020-03-23 09:00] Yakimych commented on #270
Nope, this one is the only one.
I am pretty much testing "in place". The query from https://github.com/fsprojects/FSharp.Data.GraphQL/issues/263 compiles and works now - if I replace the contents of parentheses with e.g. `(offset: 1, limit: 2)`, everything works. If I replace it with `order_by: ...` or `distinct_on: ...`, it fails to compile immediately with the "...cannot be coerced...` error.

[2020-03-23 16:21] johnberzy-bazinga commented on #270
@Yakimych Do you mind sending me the schema dump? If it happens at compile-time I can try to debug without needing to run a server.

[2020-03-23 19:32] Yakimych commented on #270
Yes, I wasn't sure I wanted to dump 3000 lines of code, but apparently I can upload a json-file if I rename it to txt 🙂
[schema.txt](https://github.com/fsprojects/FSharp.Data.GraphQL/files/4371534/schema.txt)

[2020-03-24 05:24] johnberzy-bazinga commented on #250
@NatElkins one option is to just generate our methods with explicit options rather than creating all the overloads. Maybe even providing both options and parameterize the new behaviour.

[code]

[2020-03-24 13:38] ivelten commented on #250
I like this design. It gives the user the option to adjust it when a lot of overloads mess up the usability because of the way the provider system works.

[2020-03-24 14:19] NatElkins commented on #250
Agreed it seems like it would be a big improvement.

[2020-03-24 22:31] xperiandri commented on #267
Can we use the query file name instead of (or in conjunction to) query name as its identifier?

[2020-03-24 23:02] johnberzy-bazinga commented on #267
We could, but it still wouldn't solve the problem of inline queries.

[2020-03-26 22:54] Kurren123 commented on #255
I am also wondering what the best way to resolve the n+1 problem is

[2020-03-26 23:01] Kurren123 commented on #120
@johnberzy-bazinga  This would make life great. Is there any help I can give for adding a Define.BatchField? I would use it everywhere.

[2020-03-28 10:59] ZhenyaP opened #272 "GraphQL operations with arguments of Custom Scalar Types don't run properly via GraphQLProvider"
### Description

I am trying to use Custom Scalar Type in GraphQL Server schema as the type for some input/output fields for queries/mutations.
I am using the latest version (1.0.5) of FSharp.Data.GraphQL.Client and FSharp.Data.GraphQL.Server packages.
On the client, when I am running a query with passing the Query field argument value (that is of this Custom Scalar Type) via GraphQLProvider,
I am

[2020-03-30 19:43] xperiandri opened #274 "Return errors from railway programming model"
### Description
We use [Chessie](https://github.com/fsprojects/Chessie/) and resolver function returns a result. Then I want to unwrap that result and return value or errors as GraphQL response like this:
[code]
However as long as type is not nullable, returning null produces error.

### Repro steps

1. Create resolver that returns `Result` type of Chassie library
2. Use my function to unwrap a re

[2020-03-30 21:24] johnberzy-bazinga commented on #274
What's the type of `'TSuccess` in this case? I believe this is by design as to not break the GraphQL contract. If you have a non-nullable resolver throw an exception the behaviour is the engine will propagate the error up the tree until it encounters the first parent that's nullable and nullify the result. This is in order to abide by the contract.

[2020-04-03 19:44] xperiandri opened #275 "HttpClient is created for each request which is anti-pattern"
### Description

This line means that each property access creates on new `HttpClient`
https://github.com/fsprojects/FSharp.Data.GraphQL/blob/0f34f8fda9387f1fbba2294d8ff5c2f4e01f90bc/src/FSharp.Data.GraphQL.Client/GraphQLProviderRuntimeContext.fs#L20
Hence Dispose is called on a new instance.
And creating HttpClient for each request is an anti-pattern.

### Expected behavior

1. `HttpClient` is cr

[2020-04-03 20:02] xperiandri opened #276 "Use FusionTasks to eliminate boilerplate"
### Description

There is an amazing library [FusionTasks](https://github.com/kekyo/FSharp.Control.FusionTasks) that allows eliminating tasks awaiting boilerplate.
I think it worse to use it.

### Expected behavior

Bang operator of async workflow automatically awaits a `Task`.

### Actual behavior

`Async.AwaitTask` call is required to await a `Task`.

### Related information

* FSharp.Data.Graph

[2020-04-03 20:27] xperiandri opened #277 "Use System.Text.Json instead of custom parser and parse from stream instead of string"
### Description

Getting a response into a string and then parsing it is not the most efficient way of decoding a response.
I think that it would be better to use `System.Text.Json` as an engine for `JsonParser`

### Related information

* FSharp.Data.GraphQL.Client 1.0.5

[2020-04-03 20:34] johnberzy-bazinga commented on #275
Yeah, that's a good catch. That should be cached.

[2020-04-03 20:36] johnberzy-bazinga commented on #272
Can we close this now? I believe this was resolved by adding a custom json converter?

[2020-04-03 20:39] xperiandri commented on #275
I hope to present a fix for tomorrow

[2020-04-03 20:40] johnberzy-bazinga commented on #276
I think a general rule of thumb is you want to minimize the number of dependencies a type provider has. Even though it might be convenient, this is probably not the right way to go.

[2020-04-03 21:56] xperiandri commented on #274
@johnberzy-bazinga what do you think about switching to `Result<'TSuccess,Error list>` for coercion functions and for resolvers?

[2020-04-03 22:05] johnberzy-bazinga commented on #274
@xperiandri I think that makes sense. Let's see if the spec has anything to say about this. It might be that invalid inputs are fatal errors so execution should halt. But at the very least we should handle the exception and set the error path to the root of the query. If change to the `Result` type it's a breaking change, so we'll need to bump the version.

[2020-04-05 11:48] xperiandri commented on #95
https://github.com/fsprojects/FSharp.Data.GraphQL/issues/274

[2020-04-05 11:48] xperiandri commented on #272
@johnberzy-bazinga, yes, we can close it

[2020-04-05 11:55] xperiandri opened #281 "Define mapping from custom scalar types to domain types on a client side"
### Description

It would be extremely nice to be able to define a list of mapping between custom scalar types and real domain types. Like when you define coercion functions on server side.
Otherwise now it is not convenient to use primitive types and you need to convert your operation response type to a domain type that requires you to either fill existing domain types or create new.

### Expecte

[2020-04-12 21:13] #272 closed, assigned to nobody

[2020-04-12 21:14] johnberzy-bazinga commented on #281
@xperiandri As mentioned on gitter, there is really no good solution for this until the Type Provider mechanism supports more options for extensibility i.e. language suggestion FS-1023.

[2020-04-12 21:16] johnberzy-bazinga commented on #276
Closing as removing some boilerplate is not enough of a reason to take on additional dependencies in the Type Provider.

[2020-04-12 21:16] #276 closed, assigned to nobody

[2020-04-13 12:31] xperiandri commented on #274
@johnberzy-bazinga what do you think about such signature of coerce functions?
[code]
or
[code]
As some warnings can also be produced for successfully validated inputs as it is done in https://github.com/fsprojects/Chessie

[2020-04-13 18:16] Yakimych commented on #270
@johnberzy-bazinga Got the same problem when trying to create a mutation against the same schema:
[code]

The mutation itself:
[code]

[2020-04-15 22:42] xperiandri opened #282 "If enum processed by System.Text.Json then it cannot be coerced from enum value"
### Description

I have rewritten sample server to use System.Text.Json including `JsonStringEnumConverter`

[code]
But the value that comes to this code is enum instance then, but not a `string`.
[code]

So that I get `FSharp.Data.GraphQL.GraphQLException: 'Variable '$reactionKind': Cannot coerce value of type 'Frebo.Biblioteko.Domain.Reaction' to type Enum 'ReactionEnum''`

### Repro steps

1. D

[2020-04-15 22:46] xperiandri commented on #282
I guess there must be a case like `| o when Enum.IsDefined(enumdef.Type, o) -> o` before default

[2020-04-15 22:59] xperiandri commented on #282
Fixed in https://github.com/fsprojects/FSharp.Data.GraphQL/pull/283
@johnberzy-bazinga could you have a look?

[2020-04-15 23:12] xperiandri commented on #275
As a temporary workaround, we can define a static mutable property on some module and if someone wants to swap `HttpClient` he will set that property.
Are you okay with such a solution?

[2020-04-16 18:47] xperiandri commented on #275
@ivelten, what do you think?

[2020-04-16 19:27] ivelten commented on #275
@xperiandri not sure if making it a static mutable property is the best approach as it will hit the functional style a bit. I think provide it statically, non-mutable as the default option could work (maybe internally making a singleton). And we could make an overload of the `GetContext` method of the provider to receive a custom `GraphQLClientConnection` and/or `HttpClient` if needed.

If you nee

[2020-04-16 21:24] xperiandri commented on #275
@ivelten, yes, it would be extremely helpful!

I tried to implement that approach in 2 variants without any luck.
https://github.com/xperiandri/FSharp.Data.GraphQL/tree/http_client
https://github.com/xperiandri/FSharp.Data.GraphQL/tree/http_client_2
Could you help to determine what is wrong with my implementations?

[2020-04-16 21:24] xperiandri commented on #275
My main goal is to be able to pass my HttpClient instance

[2020-04-20 10:21] xperiandri commented on #275
@ivelten, have you tried my implementations?

[2020-04-20 16:53] ivelten commented on #275
@xperiandri Sorry I did not see the answers you posted in time. I will try to develop a proposal tomorrow, since it's holiday in my country.

[2020-04-21 04:23] ivelten commented on #275
I was searching a bit about `HttpClient`, more specifically about a Singleton/Caching usage of it, and I came to [this thread](https://stackoverflow.com/a/48778707). I guess we could avoid implementing a default instance using those approaches, as we could potentially run into DNS changes depending on the user. Instead, I just removed the HttpClient re-instantiation on each property access, and al

[2020-04-28 16:22] xperiandri commented on #282
@ivelten, @johnberzy-bazinga do you have any remarks?

[2020-04-28 16:27] xperiandri opened #286 "Calculate aggregate from items resolver"
Imagine that I have type
[code]
Is it possible from `friendsCount` through `ResolveFieldContext`:
1. Check if `friends` field is requested.
2. If requested then trigger `friends` resolver, get the list of friends in a context cache (so that `friends` filed will be resolved from ache), and return a count
3. If not requested, then send aggregate query to a database

@johnberzy-bazinga

[2020-04-28 19:44] johnberzy-bazinga commented on #286
@xperiandri It is possible to add  a cache through middleware and just put/get the friend list by using something like the user's id as a key. An example of a middleware is something like:

[code]

[code]

[2020-04-29 15:19] xperiandri commented on #286
Thanks!

[2020-04-29 15:19] #286 closed, assigned to nobody

[2020-05-02 11:30] xperiandri opened #287 "Send multiple operations as a single request"
Is it possible to send multiple operations as a single request?
Imagine that I have some mutation and I want to execute the same mutation with different parameters.  Can I do that?

Also, can I mix multiple different operations and send them as a batch?

[2020-05-04 09:45] Yakimych opened #288 "Schema file not found when using the type provider from a separate project"
### Description

I am trying to create a shared reusable library for accessing a GraphQL API via the F# Type Provider. Everything works fine if the Provider is defined in the same project that uses it (WebApi), but as soon as I move the provider and `schema.json` file to a ClassLib, I get an error regarding the schema not being found any more (see Actual Behaviour section).

Note: The class librar

[2020-05-09 06:00] fradav commented on #204
The status is : not working with Fable since 2.0.
AFAIK, there is only one provider for current  fable  and it is [JsonProvider](https://github.com/fable-compiler/Fable.JsonProvider) from @alfonsogarciacaro
The official doc still states that is working with fable client-side, perhaps update?

[2020-05-12 09:05] alfonsogarciacaro commented on #204
Providers work with latest version of Fable but they cannot use the parts of the BCL that are not supported by Fable. You can find some providers compatible with Fable by typing "provider" here: https://fable.io/community/

[2020-06-08 01:52] moinessim commented on #256
Hi @aggieben,
I’m having a similar issue.
Did you find a workaround?

[2020-06-08 08:28] Zaid-Ajaj commented on #204
Recently I have a published a different solution for Fable called [Snowflaqe](https://github.com/Zaid-Ajaj/Snowflaqe). It is a dotnet CLI tool that code-generates a Fable (or F#) GraphQL client project based on the schema and input query files. The tool also performs validation and partial type-checking against the input queries.

[2020-06-08 08:32] njlr commented on #204
Interesting! Why code generation over a Type Provider?

[2020-06-08 08:33] fradav commented on #204
Thanks @Zaid-Ajaj that's a very convenient solution, but ultimately someone will have to get its hands dirty and properly code the TP for fable 2.* ... I would like to do it, no guarantee.

[2020-06-08 09:04] Zaid-Ajaj commented on #204
@njlr Type providers are hard to write, hard to debug and have limitations in which types you can output where you can't generate records or unions. This is very important because AFAIK records are *required* for proper serialization and deserialization of JSON data given the limited Reflection support on classes for Fable.

@fradav Please do! To be honest I personally wouldn't know how the runtim

[2020-06-13 19:52] treet commented on #270
I had the exact same problem, a workaround is to wrap the order_by value in a list (credits to @Yakimych):

Does not work: `order_by: {some_name: asc}`
Works: `order_by: [{some_name: asc}]`

This appears to be a bug in how FSharp.Data.GraphQL does input coercion:

![image](https://user-images.githubusercontent.com/1241773/84577827-ede83b80-adbf-11ea-9e9e-9955862e4afb.png)

[2020-06-20 19:59] agu-z opened #290 "Server architecture for large schemas. Type extensions?"
My team is migrating an existing GraphQL API from JS to F#. Our API has a lot of types, so we decided to create a file per type (Define.Object).

The file structure looks like this:
- Schema
  - User.fs
  - Organization.fs
  - ...
  - Query.fs

If `Organization` has a `users` field that returns `ListOf User`, you can simply compile `User.fs` before `Organization.fs`.
However, this doesn't work if

[2020-07-01 07:07] johnberzy-bazinga commented on #290
@agu-z  My apologies for the late reply. As you alluded to we don't have a good solution for large schemas at present. We would be more than happy to take a contribution. Do you have a bit of time to sketch out what the API would look like for type extensions?

Presumably, The User and Organization records would be defined at top level e.g. `Domain.fs` and only the GraphQL Schema related code resi

[2020-07-02 02:25] agu-z commented on #290
Hey @johnberzy-bazinga, don't apologize! Thank you for getting back to me :)

Type-safety is one of the things we appreciate the most about this library, and I definitely would like to preserve that. So yes, I think you'd have to declare the records beforehand. In our case, this is already the case since we keep our persistence code separate. Besides records, you'd also have to declare all the Gra

[2020-07-05 09:06] johnberzy-bazinga commented on #290
This seems like a sound idea to me.

Wondering how extensions are represented in the json introspection schema. Do we merge the fields in while generating the schema, or is that up to the client to handle? Is it's up to the client I guess we'd also need to make sure the Type Provider understands extensions.

@Horusiath @ivelten thoughts?

[2020-07-05 09:07] johnberzy-bazinga commented on #290
related: https://github.com/fsprojects/FSharp.Data.GraphQL/pull/249

[2020-07-05 20:15] agu-z commented on #290
Oh, that PR seems helpful! Is there something holding it off?

I could not find a mention of Type Extensions in the [Introspection part of the GraphQL spec](https://spec.graphql.org/June2018/#sec-Introspection), so I think the server should merge object fields and other type members.

I did some [light experimentation](https://runkit.com/agu-z/graphql-extension-introspection) with another GraphQL

[2020-07-08 11:11] johnberzy-bazinga commented on #290
@agu-z since that PR is a breaking change, we were hoping to release it along with other changes in a 2.0 release. The other changes (primarily work on refactoring execution to support batch resolvers) have since stalled due to other projects. If we get extensions in we won't delay the release for batch resolvers.

I'm glad the introspection schema gets merged. An Extensions API like you sketched

[2020-07-09 08:35] jberzy commented on #290
@agu-z,

Another option is we could always allow for forward declarations of a typedef.  e.g.:

// User.fs
[code]

// Organization.fs
[code]

The primary benefit of this approach over extensions is it doesn't require the typedefs be split across multiple files.

At least one drawback is more "orphaned" typedefs not reachable from entrypoints. e.g. in the above scenario if `UserRef` and not `User`

[2020-07-11 20:07] agu-z commented on #290
@jberzy I think that's a great idea! I bet this would cover a lot of use cases.

A drawback I see is that if you make a typo in the type name or use the wrong `'Val`, the compiler wouldn't catch it, which makes refactoring harder.

I think there isn't a way around this without defining the types in a top-level module. However, in my case, I wouldn't mind doing in so in exchange for safety.

This m

[2020-07-12 07:55] MargaretKrutikova opened #291 "Readme and docs should clearly state no support for Fable"
### Description

`FSharp.Data.GraphQL` doesn't work for `Fable`. There is nothing about it mentioned in the readme and the docs say the opposite, that [it is supported](http://fsprojects.github.io/FSharp.Data.GraphQL/).

After sitting with it for a couple of hours to at least make it compile I tried to run it and got a lot of exceptions. Searching through the issues I discovered that [there is no

[2020-07-13 14:37] alexswan10k opened #292 "Unions in inputs"
### Description

I am trying to assign an input to a complex type - A Union. Specifically, I am trying to create a query DSL where I can define an object in the form:

[code]

Is this possible? There does not seem to be an API for Define.InputUnion or equivalent, and the Union type is not compatible with inputs, only outputs.

### Repro steps

N/A

### Expected behaviour

I should ideally be able

[2020-07-13 16:28] jberzy commented on #291
Hi @MargaretKrutikova,

Yes, the documentation is out of date and we should address that so people are not confused. At one point the TypeProvider did actually work with Fable, but that was long ago.

Thanks for bringing it to our attention.
John

[2020-07-14 04:08] jberzy commented on #292
@alexswan10k As Input Unions are not part of the spec it's not something we'll implement.

If you're looking for an alternative approach you can take a look at [this middleware](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Server.Middleware/MiddlewareDefinitions.fs#L64) that @ivelten created.

[2020-07-14 08:43] alexswan10k commented on #292
@jberzy  thanks for clearing that up, apologies, having dug a bit deeper I did indeed find [this](https://github.com/graphql/graphql-spec/issues/488). I will close.

The middleware solution is an interesting approach and looks like it might get me mostly there. Am I right in understanding that this is actually modifying the schema, and thus will modify the generated metadata which tooling and code

[2020-07-14 08:43] #292 closed, assigned to nobody

[2020-07-15 16:59] johnberzy-bazinga commented on #290
@agu-z I like that approach. The only thing is they would most certainly need to add all types explicitly, rather than only when they're not "seen" from an entrypoint. I still think that's fine though. I also like the fact the "With" is recognizable from the F# type system.

[2020-07-15 17:29] agu-z commented on #290
Yep, that's where the inspiration came from.

I think adding all types explicitly is not a problem. It's easy to put them on a lists and concat them at the end.

I'll start working on an `ObjectRef` implementation tonight. Extensions can come later.

Thanks for the feedback!

[2020-07-20 03:39] bbhoss commented on #153
I'm running into [this issue](https://github.com/fsprojects/FSharp.Data.TypeProviders/issues/40) now with the main data provider for fsharp. Can you offer any insight into how you fixed this? A link to the commit would suffice.

[2020-07-21 14:08] evilz opened #295 "int value could be valid float value"
### Description

For a data of type `float`
when value extracted from response is int
the code fail to run

### Repro steps

- create schema with double or float
- respond with integer value

### Expected behavior

value should be casted

### Actual behavior

Fail with exception

### Known workarounds

[2020-07-21 22:51] jberzy commented on #295
Can you be more specific? I'm not sure I get the error here. Do you mean you're trying to return an integer from a resolver that is typed to be a `Float`?

[2020-07-22 08:19] evilz commented on #295
In schema you got something like this :

[code]

But the server (not one done in fsharp, from someone else) is responding with

[code]

In RecordBase diconnary it will be deserialize as INT but the type that we expect is FLOAT.
My ugly work around is that

[code]

[2020-07-31 03:27] tylerhartwig commented on #291
Please update this, spent a lot of time on this tonight! Thanks

[2020-08-02 10:05] StefanBelo opened #296 "Filter for root properties"
I am having problems to create filter for root property, something like that:

[code]

In the code base there is actually no example of such usage. Maybe I am wrong because I just read something about graphQL and trying to implement that in my use case scenario.

[2020-08-31 10:10] mistyharsh opened #299 "How to handle errors occured during the GraphQL resolver execution?"
### Description

Error handling documentation is missing/not very clear. I found `AddError` method on `Context` object but it does not seem to produce any result.

### Repro steps

As the title of the issue suggest, how to properly handle errors? The error is described here in [detail on stackoverflow](https://stackoverflow.com/q/63665037/5723098).

### Expected behavior

Ideally I would like to g

[2020-10-20 14:41] mjarosie opened #302 "The type 'Schema<Root>' does not define the field, constructor or member 'AsyncExecute'"
### Description

The example code shown in the Quick start section in the home page doesn't compile, showing the following error:

[code]

### Repro steps

Code, exactly as in the quick start section:

[code]

### Expected behavior

Code example is fixed and works out of the box.

### Actual behavior

The following error occurs:

[code]

### Related information

`FSharp.Data.GraphQL.Server`: `v1.0

[2020-10-20 14:47] mjarosie opened #303 "Documentation GitHub links not working"
### Description

Documentation links do not link to the GitHub repository files properly, resulting in "Not Found" page being displayed instead.

### Repro steps

- go to any API documentation page, such as [Schema<'Root>](https://fsprojects.github.io/FSharp.Data.GraphQL/reference/fsharp-data-graphql-schema-1.html)
- click on the "GitHub" icon on the right hand side of any function description
- 4

[2020-10-20 14:59] mjarosie opened #304 "Repository Quick start example is broken"
### Description

Repository [Quick start example](https://github.com/fsprojects/FSharp.Data.GraphQL#quick-start) does not compile.

### Repro steps

Code exactly as in the example (with missing imports added as well):

[code]

### Expected behavior

Example should compile or be changed, it should also be consistent with what the [documentation page](https://fsprojects.github.io/FSharp.Data.GraphQL

[2020-10-20 15:02] mjarosie commented on #304
I've just figured out how to fix it:

Instead of

[code]
Explicitly use `Parser.parse`:

[code]

[2020-10-21 15:47] mjarosie opened #306 ""Object must implement IConvertible" when using built-in ID"
### Description

When using built-in [ID GraphQL type](https://fsprojects.github.io/FSharp.Data.GraphQL/reference/fsharp-data-graphql-types-schemadefinitions.html) to represent the [Guid](https://docs.microsoft.com/en-us/dotnet/api/system.guid?view=netcore-3.1) .NET type I'm getting `Object must implement IConvertible` error back from the executor.

### Repro steps

[code]

### Expected behavior

[2020-10-21 15:58] mjarosie commented on #306
As it turns out it's just the `AutoField` which doesn't work for `ID`:

[code]

[2020-10-25 16:09] #304 closed, assigned to nobody

[2020-11-12 18:24] njlr opened #307 "GraphQL object fulfilled by querying two different data-stores; how to do this efficiently?"
This is a question rather than an issue (although it could be turned into an issue if no good solution is found!)

Suppose I have a library of books:

[code]

Some of these fields are "small", and they are stored in a fast data-store (e.g. MySQL, Postgres):

 * `id`
 * `title`
 * `author`
 * `datePublished`

The other fields are "big", and they are stored in a slow data-store (e.g. Amazon S3):

 *

[2020-12-01 10:58] MarkNicholls opened #308 "What would be nice is a simple walkthrough"
Its a bit daunting. I have been doing some work in hot chocolate, which from my perspective is a maze of dependency injection, custom attributes and reflection, horrific to comprehend, but to be fair there are examples out there of how to set up a basic server.

This seems much better (from my perspective), but it really needs a nice simple, really dull,

dotnet new ...
open in visual studio (not

[2020-12-02 14:29] xperiandri opened #310 "Support more GraphQL scalars"
Looks like GraphQL supports more scalars then `FSharp.Data.GraphQL`
https://graphql-dotnet.github.io/docs/getting-started/schema-types#scalars

Or they just did that in C# implementation?

[2020-12-04 09:43] Horusiath commented on #310
@xperiandri GraphQL is not restricted to one platform and it's designed to work with common subset of types (that are eventually representable in JSON). These common types are supported by all GraphQL libraries (including this one), and they are listed at the beginning of the document you've linked.

That being said, .NET standard library has wider area of types, and not all of them are supported

[2020-12-18 19:13] bddckr commented on #250
Hey everyone! I've run into this issue and have raised a PR as linked above (#312). I'm hoping to get some feedback on the PR page, and ultimately get this merged of course 😄

In my case I've not been able to observe any issue with IDE performance or the likes, however I have some GraphQL types in my schema that force me to call more than 15 different constructor permutations for a single type alo

[2020-12-28 00:47] xperiandri opened #313 "Is it possible to improve performance of client project build if it uses type provider"
### Description

Building integration tests (the project that uses type provider) take 02:35.
Is it possible to do any performance optimization to reduce that time? Ideally 3-5 times 🙂

### Related information

* Visual Studio 2019 16.8
* FSharp.Data.GraphQL.Client 1.0.6
* .NET Core SDK 5.0.1

[2020-12-29 18:32] #250 closed, assigned to nobody

[2020-12-29 19:09] ltackmann commented on #308
Agree this looks like a really great project but its also unclear to me how one gets started. i.e creates a basic server on WebApi. If you enter the star-wars-example there are all sorts of helper files etc. are they all needed ?

[2021-01-10 16:11] leonaaraujo commented on #302
@mjarosie
I resolved this problem using the Executor, seems more like a document issue:
[code]

[2021-01-11 11:37] nightroman opened #316 "Question: GraphQL query DSL samples?"
The documentation page [Using FSharp.Data.GraphQL on the client side](https://fsprojects.github.io/FSharp.Data.GraphQL/client-side.html) mentions GraphQL query DSL and provides the code snippet. But the `client-provider` samples do not provide any examples.

I cannot make "strongly typed queries" working for some reasons. Namely, the property `GraphQlClient.Queries` does not exist. And I am not su

[2021-01-11 20:11] jberzy commented on #316
@nightroman Apologies for the confusion. The Query DSL has been replaced with a newer GraphQL Type Provider. You can find examples of usage [here](https://github.com/fsprojects/FSharp.Data.GraphQL#client-provider).

[2021-01-11 21:22] nightroman commented on #316
@jberzy No problem at all! Just a note (TODO?), the docs seem to be out of date.

So it looks like "typed queries" are not supported as such, right? Not a big deal perhaps with many other tools for composing GraphQL queries nowadays. I am asking just in order to be sure, not to complain :)

Please feel free to close or keep open until the docs are updated.
Thank you for the great tool!

[2021-01-11 23:40] jberzy commented on #316
@nightroman they are "typed queries" in the sense that the Type Provider generates types based on the string that's supplied to the `MySchema.Operation<"...">()` method. Moreover, the query is parsed, analyzed and validated at design-time.

Thanks,
John

[2021-01-23 06:18] markfirmware opened #317 "Looking for example using github api v4 https://api.github.com/graphql"
something like

    type GraphQlClient = GraphQLProvider<"https://api.github.com/graphql">

[2021-01-24 06:30] jberzy commented on #317
Have you taken a look at this?

https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/samples/client-provider/github_access.fsx

[2021-01-24 07:02] markfirmware commented on #317
Swell! I had not known about the samples included in this repo.

[2021-01-24 07:02] #317 closed, assigned to nobody

[2021-02-09 11:16] nightroman opened #318 "GraphQLProvider based on ISchema"
Is it possible, in theory, to have `GraphQLProvider` based on `ISchema` instead of schema input as just text, file, or URL?

If yes, why is it not there? For no particular reason, or was it considered not practically useful, or something else?

I am thinking of some useful applications in scripting scenarios, for example:

- A host exposes its data model as `MySchema<MyRoot>`.
- A consumer (F# scr

[2021-02-09 18:37] jberzy commented on #318
It's currently not possible since Type Providers can't accept types as static input.

see: https://github.com/fsharp/fslang-suggestions/issues/212

Also, not sure this is desirable as clients would need to take a dependency on server related binaries. I guess it's possible we have some sort of interface that both the client and server model their schema based off of, but I'm not sure if that will

[2021-02-09 20:49] nightroman commented on #318
Like I mentioned, my primary potential scenario is F# scripting, for example using FSharp.Compiler.Service library.

That is, I have a host app or library which exposes its data model via FSharp.Data.GraphQL `ISchema`. All the "server related binaries" are there, together with this app or library. F# scripting does not mind to take dependency on them, there is nothing extra needed to install or do

[2021-02-09 20:55] nightroman commented on #318
With our current mechanism, what steps do you recommend in my scenario? What should F# scripts do in order to invoke GraphQL query on a referenced library which defines and exposes `ISchema` and the executor? They can use the executor of course but the results are not strongly typed. That is why I think that engaging `GraphQLProvider` would be very useful for scripting (but not limited to).

[2021-02-09 21:08] nightroman commented on #318
But this of course answers and probably closes my question. Closing?

[2021-02-11 04:01] jberzy commented on #318
@nightroman

In your scripting scenario, would the host application be able to initialize the executor and have the executor dump the graphql schema as a json file?

If that's the case, maybe the GraphQLProvider can just consume it after the host outputs the file the first time?

Thanks
John

[2021-02-11 07:31] nightroman commented on #318
@jberzy Yes, we probably can do that. May I ask how? (sorry, still learning and there is not much manuals or examples).
Namely, how to dump JSON schema and how to engage the executor with GraphQLProvider? The provider is supposed to invoke queries by `Run(ctx)` with context based on some URL. In our scenario there is no URL or HTTP server as such.

[2021-03-11 23:28] xperiandri opened #320 "Add SourceLink support"
https://devblogs.microsoft.com/dotnet/producing-packages-with-source-link/

[2021-03-12 12:08] xperiandri commented on #313
https://github.com/dotnet/fsharp/issues/11222

[2021-03-12 14:43] xperiandri commented on #313
@ivelten, @bddckr, @jberzy, what do you think regarding the answer on dotnet/fsharp?

[2021-03-12 16:18] bddckr commented on #313
AFAIK (and I've only contributed a tiny change to this project) the generated types are all cached here:
https://github.com/fsprojects/FSharp.Data.GraphQL/blob/ddea9b4edab1bdc25041f82fef513086052065f9/src/FSharp.Data.GraphQL.Client.DesignTime/ProvidedTypesHelper.fs#L934

[2021-03-12 17:07] jberzy commented on #313
@xperiandri  It might be due to the combinations the TP produces when an operation has a lot of optional parameters. Try upgrading to the latest version  and set `explicitOptionalParameters` to `true`. When set to `true`, the TP does not generate a method for all combinations of an operation, but you need to pass `Some/None` for each optional parameter explicitly.

https://github.com/fsprojects/FS

[2021-03-12 23:05] xperiandri opened #321 "GraphQL client type provider arguments explanation"
Is there an explanation available for:
* UploadInputTypeName
* ResolutionFolder
* ClientQueryValidation

[2021-03-12 23:08] xperiandri commented on #321
Looks like `UploadInputTypeName` is used for files

[2021-03-12 23:32] xperiandri commented on #313
With `explicitOptionalParameters = true` nothing radically changed. Now time is 2:05-2:15 instead of 2:35-3:15.
Even adding an empty line in a source code causes a full new build that takes around 2 minutes.

[2021-03-12 23:34] xperiandri commented on #313
At least IntelliSense and navigate to definition became instantly responsive

[2021-03-18 19:21] xperiandri opened #322 "Migrate to FSharp.Core 5.0"
### Description

Migrate to F# 5.0 to support new F# features

### Related information

* Version 1.0.7

[2021-03-20 18:16] blackdwarf opened #325 "Passing EF Core db context to a field resolver"
Looking at [this document](https://fsprojects.github.io/FSharp.Data.GraphQL/type-system.html#defining-an-object) there seems to be a way to provide parameter to a field resolver outside of the GraphQL context. This seems like what I need to use in my Giraffe app to pass in the injected `DbContext`.

However, for the life of me, I cannot understand how to do this without the compiler complaining.

[2021-03-22 06:11] jberzy commented on #325
Hi @blackdwarf

You can thread through an arbitrary value to your resolvers by passing it in when executing the query. e.g.:

```executor.AsyncExecute(..., data=myRootValue)```

this value is then accessible to your resolver via the context value (first parameter in your resolver), however, the value is untyped so you need to cast it. e.g.:

[code]
To avoid always having to cast your Root value, y

[2021-03-22 15:20] xperiandri commented on #313
So the responsiveness is better but not as good as it must be (as it is with the unloaded project that uses type provider).
And build time is still too long. And still, if I change anything in the project build starts again from scratch and takes the same time as the first time. I mean build of the project that contains the client provider.

[2021-03-22 22:25] blackdwarf commented on #241
Following this sample, I think that a bunch of stuff in there is actually around parsing the incoming request. So, when I got the endpoint up and running in Giraffe, I tried to connect from a VueJS + Apollo client app. It didn't work because Apollo Client sends the query in a certain format. I think the majority of the `HttpHandlers.fs` code actually parses out the incoming query, variables and th

[2021-03-23 22:32] xperiandri opened #327 "Deserialize variables in Values.fs"
### Description

I propose to move variables deserialization into https://github.com/fsprojects/FSharp.Data.GraphQL/blob/b072222ff0bbe62869d951cf383dd200acd7ae47/src/FSharp.Data.GraphQL.Server/Values.fs#L105 and pass `Map<string, obj>`where `obj` can be either `System.Text.Json.JsonElement` or another `Map<string, obj>`.
Because in that function we have all the required info to correctly get value

[2021-03-23 22:47] xperiandri commented on #327
Or actually, deserialization can happen in `Executor.AsyncExecute`, after the plan is created and before it is executed.
At that point, we already know variables types. So we can pass a deserialization function to `Executor.AsyncExecute`

[2021-04-03 13:43] xperiandri opened #328 "Remove JsonValue.fs from client and use System.Text.Json"
### Description

The JsonValue.fs deserializer deserializes `0` into `int` while it must deserialize it into the type requested by the schema. Which is `float` in my case.
We can simply use System.Text.Json package version 5 as it is done in https://github.com/fsprojects/SwaggerProvider/tree/net5 with https://github.com/Tarmil/FSharp.SystemTextJson/

### Repro steps

1. Define `Float` field in Gra

[2021-05-04 16:57] njlr opened #334 "Cannot use asyncResult computation expressions in resolvers"
### Description

I am trying to use `asyncResult` computation expressions (from the excellent [FsToolkit.ErrorHandling](https://github.com/demystifyfp/FsToolkit.ErrorHandling)) in an `AsyncField`. This results in a run-time error when building the schema.

### Repro steps

Here is a simplified script that shows the problem. You can run it with `dotnet fsi ./Repro.fsx`

[code]

### Expected behavio

[2021-05-04 17:42] jberzy commented on #334
Hi @njlr ,

This is actually an issue with  `asyncResult` encoding in quotations.

Here is a simpler Repro:

[code]

Resolvers are converted to quotations at the call site (this is so we can support more advanced scenarios such as converting to sql)...

The workaround is to just extract the logic outside the resolver and put it in a helper method.

Thanks,
John

[2021-05-04 17:45] jberzy commented on #334
This will work:

[code]

[2021-05-04 17:47] njlr commented on #334
Thanks @jberzy that works for me!

I will move this issue to `FsToolkit.ErrorHandling`...

[2021-05-04 17:47] #334 closed, assigned to nobody

[2021-05-04 17:54] xperiandri commented on #334
[code]

[2021-05-05 08:57] njlr commented on #334
@xperiandri

Just so I understand this right, this is a set of extension methods for `Define` that allow me to use `Async<Result<_, _>>` resolvers directly?

e.g.

[code]

What is the `ErrorMessage` type?

I have my own DU of domain errors that can be "pretty printed" as user facing error messages.

[2021-05-05 08:59] xperiandri commented on #334
It is the same in my code

[2021-05-05 09:00] xperiandri commented on #334
Yes, they are. Allow to use directly

[2021-05-06 20:30] cmeeren opened #335 "Simplify Giraffe boilerplate?"
Based on the Star Wars sample, it seems that there is quite a lot of boilerplate that would be needed in any GraphQL API. Only `Schema.fs` contains the "interesting" domain-specific code and schema; the rest of the files seem to be something that could be entirely automated and would be identical for all services.

Is there a way to avoid the boilerplate?

I just came across [Graphscriber](https:/

[2021-05-06 21:57] jberzy commented on #335
Hi @cmeeren ,

I've actually been working on that the last few days.

The [Program](https://github.com/fsprojects/FSharp.Data.GraphQL/blob/94d1d19d753ce58e6b7c4fbd3e2db67ca7695a1b/samples/star-wars-api/Program.fs) file is pretty reasonable now.

There are a couple things remaining such as WebSocket support, but If you want to give it a go and provide some feedback you can checkout the myget feed b

[2021-05-07 05:25] cmeeren commented on #335
Excellent, thanks! I'll check it out.

[2021-05-07 05:34] cmeeren opened #336 "Comparison with GraphQL.NET"
Currently checking out if GraphQL is a good fit for us. Have no prior experience.

Using F#, so of course FSharp.Data.GraphQL gets bonus points for being focused on F#. But I also see that GraphQL.NET seems more popular (not surprising since it's C#), more feature-rich (e.g. has built-in support for sandboxes like GraphiQL), in some ways more convenient (supports other [useful scalar types out of

[2021-05-07 06:15] cmeeren commented on #335
Doesn't work for me. I get this exception from the library.

[code]

[2021-05-07 06:51] nightroman commented on #336
@cmeeren I am not answering the exact question but I would add [HotChocolate](https://github.com/ChilliCream/hotchocolate) to the equation, especially if performance is important. It's a very powerful tool with both server and client support, plus browser IDE (Banana Cake Pop, comes out of the box with server). Feature rich, actively developed and supported.

They are not focused on F# but they st

[2021-05-07 18:59] jberzy commented on #335
@cmeeren,

Do you have more info on how I can repro that?

Thanks,
John

[2021-05-08 15:29] cmeeren commented on #335
Unfortunately not; this was when experimenting with an existing project with proprietary code. I can't prioritize making a minimal repro right now. Currently testing out various GraphQL frameworks. If I get back to FSharp.Data.GraphQL, I'll revisit this.

[2021-06-02 07:41] mickhansen commented on #299
Is there any way to produce an error response without having to `raise`?

[2021-06-03 12:14] mickhansen commented on #299
`ctx.AddError` plus middleware that adds the errors to the response works decently, but you lose `path`.
It'd be great to have `path` exposed in `ResolveFieldContext`

[2021-07-02 02:50] AlexeyRaga opened #340 "Question: Types generation / provider for server side?"
### Question

Is there a way to "generate" types for the server-side GraphQL API?

At a glance, it _looks like_ types and their corresponding `Define.Object<_>` _can_ be autogenerated.

Or do I look at the problem from the wrong angle? My intuition here is to be able to be "schema-first" for both server and client sides...

[2021-07-07 17:40] jberzy commented on #340
We've thought about this, but we're unsure of the utility of the schema-first approach with type providers. This is primarily because the user still needs to define the resolver for each field. If you have any ideas about an API, we're open to suggestions.

Thanks

[2021-09-17 16:02] njlr commented on #327
I recently hit this issue in a nasty way, so would appreciate more type-safety in this area.

Some thoughts...

I'm not sure if `System.Text.Json.JsonElement` is the best choice since it ties the user to a particular JSON implementation. Perhaps the library should provide its own JSON-like type?

Anyway, I was thinking what an implementation might look like.

Taking the idea from `Thoth.Json`, we

[2021-09-17 17:43] njlr commented on #306
I think `FSharp.Data.GraphQL.Types.Guid` should be used here

[2021-09-26 20:18] njlr commented on #327
I had a go here: https://github.com/fsprojects/FSharp.Data.GraphQL/pull/350

[2021-10-06 19:34] njlr commented on #327
Implementation of "decoders" idea here https://github.com/fsprojects/FSharp.Data.GraphQL/pull/351

[2022-01-07 11:46] njlr opened #353 "Invalid introspection schema when fields arguments are given default values"
### Description

The library does not generate a valid introspection schema for arguments with default values. They do not appear to be escaped properly.

### Repro steps

Here is an F# script that defines a simple schema and outputs the introspection JSON:

[code]

Here is a Node script that validates the schema:

[code]

### Expected behavior

[code]

The F# should generate a valid schema!

###

[2022-01-07 11:49] njlr commented on #353
Simply a matter of escaping here?

https://github.com/fsprojects/FSharp.Data.GraphQL/blob/3cd0940df3150be671c284d205f9071a5d5950ed/src/FSharp.Data.GraphQL.Shared/Introspection.fs#L238

[2022-02-01 06:21] knocte commented on #336
Hey guys, I find myself in the same situation now as @cmeeren when he opened his issue. About half a year later, maybe any of you can share any lessons learned so far? I'd love to choose the best option here among the three options HotChocolate/FSharp.Data.GraphQL/graphql-dotnet. Thanks in advance.

[2022-02-27 14:41] xperiandri opened #359 "Repo maintainers"
### Description

I suppose that as long as @jberzy no longer responds anywhere we need a new maintainer (or better two) who can operatively respond and give this project the right direction.

@dsyme could you help with that?

Maybe post a "call for maintainer" in the F# Org community?

At least me, @njlr and @mickhansen are interested in project support and evolution

[2022-03-01 15:36] dsyme commented on #359
cc @sergey-tihon

@xperiandri @njlr @mickhansen  Would any of you like to be maintainers?

Thanks

[2022-03-01 16:01] xperiandri commented on #359
I do.
However, I would prefer if someone more experienced especially in type providers and GraphQL spec also will be involved.
@ivelten, @haf are you in?

[2022-03-01 20:09] haf commented on #359
Hi, I did try to support the F# ecosystem for a long while (about 8 years) but it was impossible to make a living doing it. So I've moved on, sorry.

[2022-03-02 06:11] mickhansen commented on #359
I'm using F# GraphQL as part of a work project and I recently had a chat with @jberzy and was added as a maintainer to the repository.

I will primarily be focusing on the Schema and Variable support part of the project (as shown here: https://github.com/fsprojects/FSharp.Data.GraphQL/pull/357) so would definitely suggest getting more maintainers.

The release process also still needs to be formal

[2022-03-02 09:22] xperiandri commented on #359
@mickhansen could you join https://foundation.fsharp.org/join ? So that you have F# Org Slack account?
And let's connect in Slack
I'm there with the same id

[2022-03-02 09:49] nikhedonia commented on #359
Happy to help maintaining this library too!
I've been using F# and graphql in production and been helping companies to adapt them.

I'm also the co-author of [Fullstack GraphQL](https://newline.co/fullstack-graphql) and creator of [Buckaroo](https://gitHub.com/LoopPerfect/Buckaroo)

Would love to see this library have support for @defer and @stream directives

[2022-03-08 16:41] #359 closed, assigned to nobody

[2022-03-08 17:25] xperiandri commented on #336
As I understand HotChocolate has quite good support and evolved well.
However, it is completely object-oriented. So that if you look at the functional approach it is not for you.

Banana Cake Pop should be language agnostic on .NET. But I have not tried yet.

In general, I have a standard project template that I use. I've already incorporated #332 and I created #324.
I hope that with @nikhedonia a

[2022-03-17 01:43] dsyme commented on #359
@jberzy @nikhedonia @xperiandri @mickhansen  We should also trim down the number of people with maintenance/admin rights over this repo - currently there are 6, plus the 2 fsprojects backup maintainers.

I think the four of you are the logical group of maintainers now?

[2022-03-17 12:21] mickhansen commented on #359
also @sgryt my colleague who will help review my PRs

[2022-04-14 14:01] ivelten commented on #359
I would like to participate maintaining it. I've been looking for an opportunity to contribute to F# ecosystem.

[2022-04-14 14:03] xperiandri commented on #359
@ivelten I've added you to the channel in F# Org Slack

[2022-04-14 14:05] xperiandri commented on #359
By the way, to which account should @jberzy move NuGet packages? Because now he is an only owner and no one else can publish updated packages.
@dsyme

[2022-04-14 14:29] xperiandri opened #364 "Prepare for trimming"
Check if the libraries pass the trimming check
https://docs.microsoft.com/uk-ua/dotnet/core/deploying/trimming/prepare-libraries-for-trimming

[2022-04-18 02:41] dsyme commented on #359
@xperiandri The "fsprojects" org account on nuget is the right one to add as an owner.  Or add myself or @sergey-tihon

[2022-04-18 14:15] xperiandri commented on #359
@jberzy could you do that, please?

[2022-04-26 13:30] xperiandri commented on #359
Thanks, John!

[2022-05-17 16:49] njlr opened #365 "Enum values are not encoded correctly"
### Description

The encoding of enum values seems be the `ToString()` of the typed value, rather than the provided name.

### Repro steps

F# interactive script:

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Known workarounds

Override the `ToString` method:

[code]

### Potential fix

I think the issue is due to this line: https://github.com/fsprojects/FSharp.Data.Grap

[2022-05-17 18:53] njlr commented on #365
Had a go https://github.com/fsprojects/FSharp.Data.GraphQL/pull/366

[2022-05-17 21:45] njlr commented on #275
I think this can be closed now?

https://github.com/fsprojects/FSharp.Data.GraphQL/blob/dev/src/FSharp.Data.GraphQL.Client/GraphQLClientConnection.fs#L24

[2022-05-17 21:52] #275 closed, assigned to nobody

[2022-05-18 18:10] njlr opened #367 "Discussion: Stronger typing for arguments in resolvers?"
When writing resolver functions, my most common run-time errors are caused by unpacking the arguments incorrectly. This is because the API presents a `Map<string, obj>`, so it's easy to get the casting wrong!

I realized that when designing the schema, we actually have all of the type information already. The issue is that it's not passed to the resolve function!

_Scroll down for a [small example

[2022-05-18 18:15] njlr commented on #367
Full example. You can paste this into an `.fsx` file and run it with `dotnet fsi`.

[code]

[2022-05-19 14:59] nikhedonia commented on #367
That looks like a great solution!
However I wonder if we can use some type provider magic to generate the right types to make this not necessary

[2022-05-19 18:12] #365 closed, assigned to nobody

[2022-05-21 16:21] xperiandri commented on #367
Probably some erased type provider can be built that extends `ResolveFieldContext`

[2022-05-21 16:24] xperiandri commented on #367
Maybe it is better to define an input as a record type but not as a list of definitions like now?
The schema will just walk through that record properties and create definitions.
And in runtime, we just deserialize the inputs JSON object right into that record.
Then the record comes to your resolver as an argument.

[2022-05-22 08:54] njlr commented on #367
I think that it is important for the user to be able to specify exactly what input types and names are put into the schema, and this should be somewhat independent of the underlying record type. I think reflection could be a convenient option (e.g. for the first pass at the schema), but it would not provide enough control in my view.

---

I realized my post does not explain the motivation for thi

[2022-05-22 12:52] xperiandri commented on #367
Args come to you as a JSON object. In my opinion, Args map must be removed altogether.
And a developer must have 2 options:
1. Get `JsonObject` and do whatever he wants (`RawArgs`)
2. Get it automatically deserialized to the type (`Args`)

[code]

[2022-05-22 12:53] xperiandri commented on #367
Input is always a combination of a name and a type `Define.Input("otherPerson", Int)`.  Nothing else is possible

[2022-05-22 13:01] xperiandri commented on #367
Aha, maybe I missed the point that whole JSON object comes for whole query

[2022-05-22 13:03] xperiandri commented on #367
But anyway getting all the args as a record/class looks much better to me than trying to get all that args manually.
What is the real case then you don't need all the input args?
And even in that case, you can define the record property as `Lazy<T>`

[2022-05-22 13:05] xperiandri commented on #367
@mickhansen, @ivelten any thoughts from your sides?

[2022-06-14 12:59] festim-deari commented on #296
@StefanBelo were you able to find a solution?

[2022-06-14 16:01] xperiandri commented on #296
What happens when you do that?

[2022-06-14 16:01] xperiandri commented on #296
Does it work for nested fields?

[2022-06-16 17:01] festim-deari commented on #296
Hi @xperiandri, sorry for replying late.

This is my middlewares definition:
` let middlewares =
        [
          Define.ObjectListFilterMiddleware<Root.Root, Label>(true)]`

 Root.Root is the ObjectType for the QueryRoot. It has a field called labels of type Label list.

 When I try to filter in the query as follows:
 `
query {
	labels  (filter: {annotation_sw: "Cu"}) {
		annotation
		id
	}
}

[2022-06-16 17:03] festim-deari commented on #296
Yes it does in my case. I tried it for a nested field which is also a list, and it works perfectly.

[2022-08-11 20:24] xperiandri commented on #157
@Rajivhost are you still interested in this feature?
I have working code here https://github.com/xperiandri/FSharp.Data.GraphQL/tree/authorization_middleware
Finalizing it as PR would be welcomed.

[2022-08-21 10:00] valbers opened #376 "[Samples] System.TypeInitializationException: The type initializer for `FSharp.Data.GraphQL.Samples.StarWarsApi.Schema` threw an exception"
### Description

I can't run the Star Wars API sample.

### Repro steps

1. Clone repo to your local machine (macOS, Intel architecture);
2. Switch to branch `dev` (e.g.: `git switch dev`), if you're not already there;
3. Make sure you have a dotnet 5 version installed (e.g.: `brew install dotnet-sdk5-0-400`);
4. Execute shell script `./build.sh`;
5. `cd` to `samples/star-wars-api`;
6. Execute `do

[2022-08-21 10:52] xperiandri commented on #376
Interesting. Looks like on that line unit appears instead of schema

[2022-08-21 10:54] xperiandri commented on #376
Are you evaluating this library for your project?

[2022-08-21 11:06] valbers commented on #376
Yes, I am.

Andrii Chebukin ***@***.***> schrieb am So., 21. Aug. 2022,
12:54:

[2022-08-21 11:12] xperiandri commented on #376
The library is working but requires some maintenance. If you are interested to help, we can have a call.
Looks like our issue is pretty simple but we need to have a look

[2022-08-21 13:20] valbers commented on #376
Thank you for your solicitude @xperiandri. So far I found out that the offending piece is the middlewares list. If in `samples/star-wars-api/Schema.fs:230` I set the value of variable `middlewares` to an empty (generic) list, then the application starts fine.

For reference, this is how `middlewares` is currently set in the repo (which makes the application throw the exception during initializatio

[2022-08-21 13:34] xperiandri commented on #376
Thanks, that must be fixed

[2022-08-22 08:47] valbers commented on #376
I'm taking a look into it, but unfortunately I can't promise any progress any time soon.
In any case, I'm kind of disappointed to see such an error happening in an F# project. Functional programming should be about "if it compiles, it works". I see, though, that at least some OOP must be made to interface with the ASP.NET infrastructure. But as you can see, the least OOP is enough to create proble

[2022-08-22 11:16] xperiandri commented on #376
Yes, but at this library level, you are pretty safe 🙂

[2022-08-22 12:30] valbers commented on #376
Please review https://github.com/fsprojects/FSharp.Data.GraphQL/pull/377

[2022-08-23 20:58] xperiandri commented on #376
Fixed in #377

[2022-08-23 20:58] #376 closed, assigned to nobody

[2022-08-30 17:03] njlr commented on #255
The short answer is this library does not provide data-loaders. However, it is fairly easy to bring your own.

Here is my answer from elsewhere...

---

There are a few "data-loader" type libraries for F# and .NET, however if you are also using `FSharp.Data.GraphQL` then there are fewer solutions that integrate well.

Note that the "Haxl" approach will not work (easily) with `FSharp.Data.GraphQL`.

[2022-08-30 17:04] njlr commented on #255
@xperiandri @nikhedonia Should data-loaders be part of this library?

[2022-08-30 17:37] xperiandri commented on #255
@jberzy told me to use a custom middleware. That middleware can intercept a request and get data from the request cache
I do something similar in the AuthorizationMiddleware https://github.com/xperiandri/FSharp.Data.GraphQL/commit/88dd4be97c368bc3ada5833bcab95b6203b402ef

[2022-09-04 11:18] xperiandri opened #379 "Set `NuGet_Key` and `MyGet_Key` variables"
@sergey-tihon could you set variables?
NuGet_Key for https://www.nuget.org/profiles/fsprojects
MyGet_Key for https://www.myget.org/F/fsprojects
So that we add GitHub workflows for automated publishing

[2022-09-04 18:30] sergey-tihon commented on #379
Sorry, I cannot set the key fsproject organization here.
But if you give me the list of NuGet packages that you plan to publish and your NuGet user name, I will be able to add you as an owner of NuGet packages and then you generate the key for CI.

I do not have access there and I believe that it is no longer used. I would recommend using GitHub packages to pre-release/nightly builds https://githu

[2022-09-04 18:41] xperiandri commented on #379
@dsyme do you know who manages https://www.myget.org/F/fsprojects ?
I want to use it

[2022-09-04 18:47] xperiandri commented on #379
@sergey-tihon I want to publish all `FSharp.Data.GraphQL` packages that are present on NuGet
* https://www.nuget.org/packages/FSharp.Data.GraphQL.Server
* https://www.nuget.org/packages/FSharp.Data.GraphQL.Client
* https://www.nuget.org/packages/FSharp.Data.GraphQL.Server.Middleware
* https://www.nuget.org/packages/FSharp.Data.GraphQL.Server.Middlewares

My NuGet user name is the same @XperiAndri,

[2022-09-04 19:01] sergey-tihon commented on #379
I've send you owner invitation to first 3 packages, the last one is not owned by fsprojects.

Why do you prefer MyGet over GitHub packages? GitHub Packages are better integrated with GiHub, it is easier to maintain, other org projects use them.

[2022-09-04 20:22] xperiandri commented on #379
MyGet has UI

[2022-09-04 20:23] xperiandri commented on #379
Thanks!

[2022-09-04 20:24] xperiandri commented on #379
But also I don't have rights to set secrets in this repo 🙂

[2022-09-04 21:19] sergey-tihon commented on #379
please check again

[2022-09-10 20:25] xperiandri opened #381 "Add workflows for dev and master branches to deploy to GitHub packages and NuGet"

[2022-10-01 11:42] xperiandri commented on #353
Ah, I remember, I got this issue too

[2022-10-09 08:32] njlr commented on #328
There are a few things that the homegrown JSON (and the more widely used `Thoth.Json.Net`) offers:

 1. Fine-grained control over encoding and decoding without using reflection, annotations or writing "DTO" types:

[code]

2. Ability to visit a JSON structure in a type-safe manner using `match`

[code]

3. Ability to compare JSON values as values:

[code]

4. Support for Fable - we should at some

[2022-10-11 00:41] xperiandri commented on #328
@gusty could you share your opinion?

[2022-10-12 02:39] xperiandri opened #397 "Support Appolo Instrumentation"
Like https://chillicream.com/docs/hotchocolate/server/instrumentation/

[2022-10-12 02:52] xperiandri opened #398 "Add GraphQL UI to sample as in Boxed.NET"
https://github.com/Dotnet-Boxed/Templates/blob/8f39cde89494c3319ea19c1f72ed163ba13d1b99/Source/GraphQLTemplate/Source/GraphQLTemplate/GraphQLTemplate.csproj#L50-L51

https://github.com/Dotnet-Boxed/Templates/blob/1eecf272647c134c5153d856475677c63b21edd3/Source/GraphQLTemplate/Source/GraphQLTemplate/Startup.cs#L140-L145

https://github.com/fsprojects/FSharp.Data.GraphQL/blob/ad9ba34dd12a1fb1900d35a

[2022-10-12 02:54] xperiandri opened #399 "Have project template based on Star Wars API sample"
Sample https://github.com/Dotnet-Boxed/Templates/tree/main/Source/GraphQLTemplate

[2022-10-12 02:56] #381 closed, assigned to Juriyx

[2022-10-12 02:56] #379 closed, assigned to Juriyx

[2022-10-20 20:48] gusty commented on #328
I agree with @njlr but would add that [Fleece](https://github.com/fsprojects/Fleece/tree/master/src/Fleece) offer those same advantages and more (plus it has better performance) only Fable compatibility is still pending at the time of writing this, as no-one added a Fable compatible encoding implementation so far.

[2022-10-24 15:13] njlr commented on #328
I had a glance at Fleece - it looks great!

However, would we need to have an `FSharp.Data.GraphQL` package for each Fleece back-end?

 - `FSharp.Data.GraphQL.NewtonsoftJson`
 - `FSharp.Data.GraphQL.SystemTextJson`
 - ...

[2022-10-24 17:01] xperiandri commented on #328
I expect to use `System.Text.Json` only

[2022-10-24 17:15] wallymathieu commented on #328
Why specifically `System.Text.Json` ?

[2022-10-24 17:19] xperiandri commented on #328
Do you have any scenario where you need something else?

[2022-10-24 17:21] wallymathieu commented on #328
I mean, the client shouldn't care about specific Json implementations? I don't know how many times I've had to inject some other Json library or configuration in order to get specific use cases to work. The best would be for it to be pluggable with a default that uses a simple enough interface.

[2022-10-24 17:23] xperiandri commented on #328
I don't have the capacity for that. I sponsor part of this library development from my sallery. So if someone wants to present a solution I ready to discuss. But myself I only interested in `System.Text.Json`

[2022-10-24 20:12] wallymathieu commented on #328
For sure, I know the feeling. There is a limited number of hours I can use to support other open source projects.

Since the library uses explicit knowledge that JsonValue has patterns for `String`,`Null`,`Record`,`Array` et.c., you could use the same strategy as @gusty has done in Fleece by defining active pattern helpers. I looked at the API surface that is used in the project #400 .

[2022-10-24 21:16] njlr commented on #124
@xperiandri I think we can we close this one?

[2022-10-24 21:57] #124 closed, assigned to nobody

[2022-10-24 21:57] xperiandri commented on #124
@njlr thanks

[2022-11-26 18:33] valbers opened #401 "Bug: single quotes as a value are currently not supported in input strings."
### Description

Single quotes are not considered valid string values, but should be.

### Repro steps

Just try to use single quotes in any input string in a query/mutation/subscription.

Alternative reproduction:
- Clone repository;
- In `tests/FSharp.Data.GraphQL.Tests/ParserTests.fs` introduce a unit test named, say, "parser should parse query with single-quoted arguments", perhaps by copying-

[2022-11-26 21:10] #401 closed, assigned to nobody